<div [ngClass]="{'csspinner load1':isLoadingResults}">
    <div class="page-header">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="page-title">Consultation</h2>
          </div>
          <div class="col-sm-6 my-auto text-right">
            <ng-template [ngIf]="userType == 'Doctor' && appointmentDetail.show_mark_completed">
              <app-mark-completed btnClass="btn theme-btn" btnLabel="Mark Completed" [appointmentDetail]="appointmentDetail" (contentLoader)="manageContentLoader($event)" (refreshAppointment)="appointment_detail()"></app-mark-completed>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12" *ngIf="this.isMediaPermissionAllowed === false">
        <div class="alert alert-danger">{{this.mediaErrorMsg}}</div>
      </div>

      <div class="col-12" *ngIf="this.appointment_status == 'Completed'">
        <div class="alert alert-info">This appointment is completed</div>
      </div>

      <ng-container *ngIf="this.appointment_status != 'Completed'">
        <div class="col-md-6">
          <div class="remote-containers" id="remote-containers" style="position: relative;">
            <div class="remotes">
              <div class="controls d-flex">
                <i *ngIf="this.remoteAudioStatus !== null" class="mdi mdi-24px cp" [ngClass]="{'mdi-microphone':this.remoteAudioStatus, 'mdi-microphone-off':!this.remoteAudioStatus}"
                  matTooltipClass="primary-tooltip" matTooltip="{{this.remoteAudioStatus ? 'Audio Unmuted' : 'Audio Muted'}}"
                ></i>
                <i *ngIf="this.remoteVideoStatus !== null" class="mdi mdi-24px cp" [ngClass]="{'mdi-video':this.remoteVideoStatus, 'mdi-video-off':!this.remoteVideoStatus}"
                  matTooltipClass="primary-tooltip" matTooltip="{{this.remoteVideoStatus ? 'Video Enabled' : 'Video Disabled'}}"
                ></i>
                <i *ngIf="this.fullScreen" class="mdi mdi-fullscreen-exit mdi-24px cp" (click)="fullScreenToggle(false)"
                  matTooltipClass="primary-tooltip" matTooltip="Exit Fullscreen"
                ></i>
                <i *ngIf="!this.fullScreen" class="mdi mdi-fullscreen mdi-24px cp" (click)="fullScreenToggle(true)"
                  matTooltipClass="primary-tooltip" matTooltip="Fullscreen"
                ></i>
              </div>
              <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>
            </div>
            <div [id]="localCallId" class="local"></div>
            <div class="col-md-12 mb-3 text-center" style="position: absolute; bottom: 15px;">
              <button *ngIf="!this.localStream" type="button" class="btn btn-success btn-rounded btn-icon mr-2" (click)="startCall(true)"
                matTooltipClass="primary-tooltip" matTooltip="Start Video Call"
              >
                <i class="mdi mdi-video mdi-24px"></i>
              </button>
              <button *ngIf="!this.localStream" type="button" class="btn btn-success btn-rounded btn-icon mr-2" (click)="startCall(false)"
                matTooltipClass="primary-tooltip" matTooltip="Start Audio Call"
              >
                <i class="mdi mdi-microphone mdi-24px"></i>
              </button>
              <button *ngIf="this.localStream && this.localStream.isAudioOn()" type="button" class="btn btn-success btn-rounded btn-icon mr-2" (click)="muteAudio()"
                matTooltipClass="primary-tooltip" matTooltip="Mute Audio"
              >
                <i class="mdi mdi-microphone mdi-24px"></i>
              </button>
              <button *ngIf="this.localStream && !this.localStream.isAudioOn()" type="button" class="btn btn-success btn-rounded btn-icon mr-2" (click)="unmuteAudio()"
                matTooltipClass="primary-tooltip" matTooltip="Unmute Audio"
              >
                <i class="mdi mdi-microphone-off mdi-24px"></i>
              </button>
              <button *ngIf="this.localStream && this.localStream.isVideoOn()" type="button" class="btn btn-success btn-rounded btn-icon mr-2" (click)="muteVideo()"
                matTooltipClass="primary-tooltip" matTooltip="Disable Video"
              >
                <i class="mdi mdi-video mdi-24px"></i>
              </button>
              <button *ngIf="this.localStream && !this.localStream.isVideoOn()" type="button" class="btn btn-success btn-rounded btn-icon mr-2" (click)="unmuteVideo()"
                matTooltipClass="primary-tooltip" matTooltip="Enabe Video"
              >
                <i class="mdi mdi-video-off mdi-24px"></i>
              </button>
              <button *ngIf="this.localStream" type="button" class="btn btn-danger btn-rounded btn-icon mr-2" (click)="leaveCall()"
                matTooltipClass="primary-tooltip" matTooltip="Leave Call"
              >
                <i class="mdi mdi-phone-hangup mdi-24px"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="col-md-6" [ngClass]="{'col-md-12':this.appointment_status=='Completed', 'col-md-6':this.appointment_status!='Completed'}">
        <div class="row">
          <div class="col-md-12 mt-1">
            <h5>Chat</h5>
            <ol #scrollMe class="discussion border border-secondary p-2">
              <ng-container *ngFor="let chat of messages">
                <li class="" [ngClass]="{'self': (userID == chat.user._id), 'other': (userID != chat.user._id)}">
                  <div class="avatar">
                    <ng-template [ngIf]="chat.user._id == appointmentDetail.doctor_id">
                      <img src="{{this.appointmentDetail.doctor_image_url}}" class="rounded-circle mr-1" alt="" width="30"
                        height="30">
                    </ng-template>
                    <ng-template [ngIf]="chat.user._id == appointmentDetail.user_id">
                      <img src="{{this.appointmentDetail.patient_image_url}}" class="rounded-circle mr-1" alt="" width="30"
                        height="30">
                    </ng-template>
                  </div>
                  <div class="messages">
                    <p>{{chat.text}}</p>
                    <p *ngIf="chat.image_url"><a data-fancybox [attr.data-caption]="chat.text" [href]="chat.image_url">
                      <img *ngIf="chat.image_url" [src]="chat.image_url" style="height: 80px; width: auto;"></a>
                    </p>
                    <small>{{chat.createdAt | date:'dd LLL, yyyy, hh:mm aa'}}</small>
                  </div>
                </li>
              </ng-container>
            </ol>
            <div class="flex-grow-0 mt-3 border-top" [ngClass]="{'csspinner load1':chatFormLoader}">
              <form [formGroup]="chatForm" (ngSubmit)="onSendMessage()">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" formControlName="message" class="form-control" placeholder="Type your message">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-gradient-primary" [disabled]="!chatForm.value.message.length" type="submit">Send</button>
                    </div>
                  </div>
                </div>
                <div class="form-group text-right">
                  <i matTooltipClass="primary-tooltip" matTooltip="Share health record"
                    (click)="openShareHealthRecordModal()" class="mdi mdi-attachment mdi-24px cp"></i>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3" *ngIf="attachments.length > 0">
      <div class="col-md-12">
        <h5>Reports</h5>
        <div class="mr-3 mt-1" style="display: inline-block; position:relative;" *ngFor="let item of attachments; let i = index;">
          <a data-fancybox [attr.data-caption]="item.name" [href]="item.file_url">
            <span class="badge badge-info">{{item.file_title}}</span>
          </a>
        </div>
      </div>
    </div>
    
    <div class="row mt-3" *ngIf="userType=='Doctor'">
      <div class="col-md-12">
        <h5>Write Prescription</h5>
        <form class="ap-prescription-fm" [formGroup]="prescriptionForm" (ngSubmit)="onSubmitPrescriptionForm()" #ngprescriptionform="ngForm"
          [ngClass]="{'csspinner load1':prescriptionFormLoader}">
          <div class="form-row">
            <div class="form-group col-md-3">
              <select class="form-control p-2" formControlName="prescription_type" [formGroup]="prescriptionForm">
                <option value="">Prescription Type</option>
                <option value="Medicine">Medicine</option>
                <option value="Lab">Lab Test</option>
                <option value="Imaging">Imaging Test</option>
                <option value="Recommend">Recommendation</option>
              </select>
              <div class="invalid-feedback" *ngIf="prescriptionForm.controls.prescription_type.invalid &&
                (prescriptionForm.controls.prescription_type.dirty ||
                prescriptionForm.controls.prescription_type.touched || ngprescriptionform.submitted)"
              >
                <div *ngIf="prescriptionForm.controls.prescription_type.errors.required">This field is required.</div>
              </div>
            </div>
            <div class="form-group col-md-8">
              <input type="text" class="form-control p-2" formControlName="prescribe_note" class="form-control"
                placeholder="eg. Write Lab Test, Imaging Test, Any Recommandation or Instruction/Note">
              <div class="invalid-feedback" *ngIf="prescriptionForm.controls.prescribe_note.invalid &&
                (prescriptionForm.controls.prescribe_note.dirty ||
                prescriptionForm.controls.prescribe_note.touched || ngprescriptionform.submitted)"
              >
                <div *ngIf="prescriptionForm.controls.prescribe_note.errors.required">This field is required.</div>
                <div *ngIf="prescriptionForm.controls.prescribe_note.errors.maxlength">Maximum 1000 characters allowed.</div>
              </div>
            </div>
            <div class="form-group col-md-1 mt-2" *ngIf="prescriptionForm.value.prescription_type != 'Medicine'">
              <button *ngIf="!editButton" type="submit" title="Add Prescription" class="btn btn-success btn-sm">Add</button>
              <button *ngIf="editButton" (click)="onSubmitPrescriptionUpdateForm()"
                type="button" title="Update Prescription" class="btn btn-success btn-sm">
                Update
              </button>
            </div>
          </div>
          <div class="form-row">
            <ng-container *ngIf="prescriptionForm.value.prescription_type == 'Medicine'">
              <div class="form-group col-md-3">
                <ng-select2 [data]="drugsSelect2Data" [options]="drugsSelect2Options"
                  placeholder="Select Drug" [formGroup]="prescriptionForm" formControlName="item_name"
                ></ng-select2>
                <div class="invalid-feedback" *ngIf="prescriptionForm.controls.item_name.invalid &&
                  (prescriptionForm.controls.item_name.dirty ||
                  prescriptionForm.controls.item_name.touched || ngprescriptionform.submitted)"
                >
                  <div *ngIf="prescriptionForm.controls.item_name.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-1">
                <input type="text" class="form-control p-2 strict_integer" placeholder="Dose" formControlName="dosage">
                <div class="invalid-feedback" *ngIf="prescriptionForm.controls.dosage.invalid &&
                  (prescriptionForm.controls.dosage.dirty || prescriptionForm.controls.dosage.touched || ngprescriptionform.submitted)"
                >
                  <div *ngIf="prescriptionForm.controls.dosage.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <input class="form-control p-2" placeholder="Frequency eg. twice in a day" formControlName="frequency">
                <div class="invalid-feedback" *ngIf="prescriptionForm.controls.frequency.invalid &&
                  (prescriptionForm.controls.frequency.dirty ||
                  prescriptionForm.controls.frequency.touched || ngprescriptionform.submitted)"
                >
                  <div *ngIf="prescriptionForm.controls.frequency.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-2">
                <select class="form-control p-2" formControlName="intake" [formGroup]="prescriptionForm">
                  <option value="After Food">After Food</option>
                  <option value="Before Food">Before Food</option>
                </select>
                <div class="invalid-feedback" *ngIf="prescriptionForm.controls.intake.invalid &&
                  (prescriptionForm.controls.intake.dirty || prescriptionForm.controls.intake.touched || ngprescriptionform.submitted)"
                >
                  <div *ngIf="prescriptionForm.controls.intake.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-1">
                <input type="text" class="form-control p-2 strict_integer" placeholder="Duration" formControlName="duration">
                <div class="invalid-feedback" *ngIf="prescriptionForm.controls.duration.invalid &&
                  (prescriptionForm.controls.duration.dirty ||
                  prescriptionForm.controls.duration.touched || ngprescriptionform.submitted)"
                >
                  <div *ngIf="prescriptionForm.controls.duration.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-1">
                <select class="form-control p-2" formControlName="duration_type" [formGroup]="prescriptionForm">
                  <option value="Day">Day(s)</option>
                  <option value="Week">Week(s)</option>
                  <option value="Month">Month(s)</option>
                  <option value="Year">Year(s)</option>
                </select>
                <div class="invalid-feedback" *ngIf="prescriptionForm.controls.duration_type.invalid &&
                  (prescriptionForm.controls.duration_type.dirty ||
                  prescriptionForm.controls.duration_type.touched || ngprescriptionform.submitted)"
                >
                  <div *ngIf="prescriptionForm.controls.duration_type.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-1 mt-2">
                <button *ngIf="!editButton" type="submit" title="Add Prescription" class="btn btn-success btn-sm">Add</button>
                <button *ngIf="editButton" (click)="onSubmitPrescriptionUpdateForm()"
                  type="button" title="Update Prescription" class="btn btn-success btn-sm">
                  Update
                </button>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
    
    <div class="row" *ngIf="prescriptions.Medicine.length || prescriptions.Lab.length || prescriptions.Imaging.length ||
      prescriptions.Recommend.length"
    >
      <div class="col-sm-12">
        <h5>Prescriptions</h5>
        <div class="card">
          <div class="card-body p-2" *ngIf="prescriptions.Medicine.length">
            <table class="table table-hover" [ngClass]="{'csspinner load1':dataLoader}">
              <thead>
                <tr>
                  <th colspan="7">Medicines</th>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Item</th>
                  <th>Dosage</th>
                  <th>Frequency</th>
                  <th>Duration</th>
                  <th>Intake</th>
                  <th>Instruction</th>
                  <th class="text-right" *ngIf="userType=='Doctor'">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of prescriptions.Medicine; let i = index">
                  <td>{{i+1}}</td>
                  <td class="text-pre-wrap"> {{item.item_name}}</td>
                  <td>{{item.dosage}}</td>
                  <td>{{item.frequency}}</td>
                  <td>{{item.duration  + ' ' + item.duration_type }}</td>
                  <td>{{item.intake}}</td>
                  <td class="text-pre-wrap">{{item.prescribe_note}}</td>
                  <td class="text-right" *ngIf="userType=='Doctor'">
                    <div class="icon-block">
                      <a class="cp" (click)="onDeletePrescription(item)">
                        <i class="mdi mdi-delete b-brown"></i>
                      </a>
                      <a class="cp" (click)="onEditPrescription(item, i)">
                        <i class="mdi mdi-pencil b-gry"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-body p-2" *ngIf="prescriptions.Lab.length">
            <table class="table table-hover" [ngClass]="{'csspinner load1':dataLoader}">
              <thead>
                <tr>
                  <th colspan="2">Lab Test</th>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Test</th>
                  <th class="text-right" *ngIf="userType=='Doctor'">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of prescriptions.Lab; let i = index">
                  <td>{{i+1}}</td>
                  <td class="text-pre-wrap">{{item.prescribe_note}}</td>
                  <td class="text-right" *ngIf="userType=='Doctor'">
                    <div class="icon-block">
                      <a class="cp" (click)="onDeletePrescription(item)">
                        <i class="mdi mdi-delete b-brown"></i>
                      </a>
                      <a class="cp" (click)="onEditPrescription(item, i)">
                        <i class="mdi mdi-pencil b-gry"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-body p-2" *ngIf="prescriptions.Imaging.length">
            <table class="table table-hover" [ngClass]="{'csspinner load1':dataLoader}">
              <thead>
                <tr>
                  <th colspan="2">Imaging Test</th>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Test</th>
                  <th class="text-right" *ngIf="userType=='Doctor'">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of prescriptions.Imaging; let i = index">
                  <td>{{i+1}}</td>
                  <td class="text-pre-wrap">{{item.prescribe_note}}</td>
                  <td class="text-right" *ngIf="userType=='Doctor'">
                    <div class="icon-block">
                      <a class="cp" (click)="onDeletePrescription(item)">
                        <i class="mdi mdi-delete b-brown"></i>
                      </a>
                      <a class="cp" (click)="onEditPrescription(item, i)">
                        <i class="mdi mdi-pencil b-gry"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-body p-2" *ngIf="prescriptions.Recommend.length">
            <table class="table table-hover" [ngClass]="{'csspinner load1':dataLoader}">
              <thead>
                <tr>
                  <th colspan="2">Recommendation</th>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Recommendation</th>
                  <th class="text-right" *ngIf="userType=='Doctor'">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of prescriptions.Recommend; let i = index">
                  <td>{{i+1}}</td>
                  <td class="text-pre-wrap">{{item.prescribe_note}}</td>
                  <td class="text-right" *ngIf="userType=='Doctor'">
                    <div class="icon-block">
                      <a class="cp" (click)="onDeletePrescription(item)">
                        <i class="mdi mdi-delete b-brown"></i>
                      </a>
                      <a class="cp" (click)="onEditPrescription(item, i)">
                        <i class="mdi mdi-pencil b-gry"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade actionModal" id="shareHealthRecordModal" tabindex="-1" role="dialog" aria-labelledby="shareHealthRecordModal" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-white">
          <div class="modal-header">
            <h4 class="modal-title">Share health record</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="addHealthRecordForm" (ngSubmit)="onSubmitShareHealthRecordForm()"
            [ngStyle]="{'display':shareHealthRecordAction === '' ? 'block' : 'none'}"
          >
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-sm theme-btn" (click)="onChooseShareHealthRecordAction('new')">
                      <i class="mdi mdi-file-import"></i> Add New
                    </button>
                  </div>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Record</th>
                      <th>Share</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="records">
                    <tr *ngFor="let hr of recordsFormArray.controls; let i = index">
                      <td>{{healthRecords[i].name}}</td>
                      <td><a data-fancybox [attr.data-caption]="healthRecords[i].name" [href]="healthRecords[i].file_url">{{healthRecords[i].name}}</a></td>
                      <td><label><input type="checkbox" [formControlName]="i"></label></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer border-0">
              <div class="container">
                <div class="form-row">
                  <div class="form-group col-md-12 text-right">
                    <button type="submit" class="btn theme-btn mx-auto">Share</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
    
          <form [formGroup]="addHealthRecordForm" (ngSubmit)="onSubmitAddHealthRecordForm()" #ngaddhealthrecordform="ngForm"
            [ngStyle]="{'display':shareHealthRecordAction === 'new' ? 'block' : 'none'}"
          >
            <div class="modal-body" [ngClass]="{'csspinner load1':addHealthRecordFormLoader}">
              <div class="form-group">
                <label class="cp" (click)="onChooseShareHealthRecordAction('')">
                  <i class="mdi mdi-arrow-left-bold-circle"></i> Back
                </label>
              </div>
              <div class="form-group">
                <label>Report Name <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Enter Report Name, eg. Blood Report, MRI, Prescription" formControlName="name">
                <div class="invalid-feedback" *ngIf="addHealthRecordForm.controls.name.invalid &&
                    (addHealthRecordForm.controls.name.dirty || addHealthRecordForm.controls.name.touched || ngaddhealthrecordform.submitted)"
                >
                  <div *ngIf="addHealthRecordForm.controls.name.errors.required">This field is required.</div>
                  <div *ngIf="addHealthRecordForm.controls.name.errors.minlength">Minimum 2 characters required.</div>
                  <div *ngIf="addHealthRecordForm.controls.name.errors.maxlength">Maximum 200 characters allowed.</div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Date <small>(Format: D/M/Y)</small> <span class="symbol required"></span></label>
                  <input [matDatepicker]="recordDateDatePicker" class="form-control" [max]="maxDateDob"
                    (click)="recordDateDatePicker.open()" placeholder="Date of report/prescription" formControlName="record_date"
                  >
                  <mat-datepicker #recordDateDatePicker></mat-datepicker>
                  <div class="invalid-feedback" *ngIf="addHealthRecordForm.controls.record_date.invalid &&
                    (addHealthRecordForm.controls.record_date.dirty || addHealthRecordForm.controls.record_date.touched || ngaddhealthrecordform.submitted)"
                  >
                    <div *ngIf="addHealthRecordForm.controls.record_date.errors.required">This field is required.</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Doctor</label>
                  <input type="text" class="form-control" placeholder="Doctor" formControlName="doctor">
                </div>
              </div>
              <div class="form-group">
                <label class="mb-0">Record <span class="symbol required"></span></label>
                <div class="mb-2">
                  <small class="text-danger">*Only JPG, PNG and PDF files allowed</small><br>
                  <small class="text-danger">*File size should not be greater than 5 MB</small><br>
                </div>
                <div class="custom-file">
                  <input #ngaddhealthrecordfileinput type="file" (change)="onChangeHealthRecordFile($event)" class="custom-file-input">
                  <label class="custom-file-label">Choose File</label>
                </div>
                <div class="invalid-feedback" *ngIf="addHealthRecordForm.controls.file.invalid &&
                  (addHealthRecordForm.controls.file.dirty || addHealthRecordForm.controls.file.touched ||
                  ngaddhealthrecordform.submitted)"
                >
                  <div *ngIf="addHealthRecordForm.controls.file.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group" *ngIf="addHealthRecordFileInput">
                {{addHealthRecordFileInput.name}} <i class="mdi mdi-close mx-auto my-auto cp text-danger" (click)="removeHealthRecordFile()"></i>
              </div>
              <div class="form-group">
                <label>Type <span class="symbol required"></span></label>
                <div class="form-row">
                  <div class="col-md-4 text-center cp" (click)="onChangeHealthRecordType('Report')">
                    <i class="mdi mdi-playlist-plus mdi-36px" [ngClass]="{'activeReport' : record_type=='Report'}"></i>
                    <p>Report</p>
                  </div>
                  <div class="col-md-4 text-center cp" (click)="onChangeHealthRecordType('Prescription')">
                    <i class="mdi mdi-library-plus mdi-36px" [ngClass]="{'activeReport' : record_type=='Prescription'}"></i>
                    <p>Prescription</p>
                  </div>
                  <div class="col-md-4 text-center cp" (click)="onChangeHealthRecordType('Other')">
                    <i class="mdi mdi-file-document mdi-36px" [ngClass]="{'activeReport' : record_type=='Other'}"></i>
                    <p>Other</p>
                  </div>
                </div>
                <div class="invalid-feedback" *ngIf="addHealthRecordForm.controls.record_type.invalid &&
                  (addHealthRecordForm.controls.record_type.dirty || addHealthRecordForm.controls.record_type.touched || ngaddhealthrecordform.submitted)"
                >
                  <div *ngIf="addHealthRecordForm.controls.record_type.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
              </div>
            </div>
            <div class="modal-footer border-0">
              <div class="container">
                <div class="form-row">
                  <div class="form-group col-md-6 my-auto text-left">
                    Fields marked with <span class="symbol required"></span> is required
                  </div>
                  <div class="form-group col-md-6 text-right">
                    <button type="submit" [disabled]="addHealthRecordFormLoader" class="btn theme-btn mx-auto">
                      <span [ngClass]="{'spinner-border spinner-border-sm':addHealthRecordFormLoader}"></span> Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>