<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <img class="img-fluid cp" routerLink="/login" src="assets/images/logo.png" />
    </div>
    <div class="col-md-6 login-form-2">
      <div class="top-head">
        <h4>RESET YOUR PASSWORD</h4>
      </div>
      <ng-template [ngIf]="!passwordChanged">
	    <div class="alert alert-success">{{message}}</div>
        <div *ngIf="errorMsg!=''" class="alert alert-danger"><button class="close" data-dismiss="alert">×</button> {{errorMsg}}</div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" #myform="ngForm" >
          <!-- <div class="alert alert-info">Password Reset code has been sent to your email, Please enter the code below.</div> -->
          <!-- <div class="form-group">
            <input type="text" class="form-control" placeholder="Code *"
              formControlName="code" [formGroup]="resetPasswordForm" required
            >
            <div *ngIf="resetPasswordForm.controls.code.invalid &&
              (resetPasswordForm.controls.code.dirty ||
              resetPasswordForm.controls.code.touched || myform.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="resetPasswordForm.controls.code.errors.required">
                This field is required.
              </div>
            </div>
          </div> -->

          <div class="form-group">
            <input type="text" class="form-control" placeholder="OTP *" formControlName="otp" [formGroup]="resetPasswordForm" required>
            <div *ngIf="resetPasswordForm.controls.otp.invalid && (resetPasswordForm.controls.otp.dirty ||
              resetPasswordForm.controls.otp.touched || myform.submitted)"
              class="invalid-feedback">
              <div *ngIf="resetPasswordForm.controls.otp.errors.required">
                This field is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password *"
              formControlName="password" [formGroup]="resetPasswordForm" required
            >
            <div *ngIf="resetPasswordForm.controls.password.invalid &&
              (resetPasswordForm.controls.password.dirty ||
              resetPasswordForm.controls.password.touched || myform.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="resetPasswordForm.controls.password.errors.required">
                This field is required.
              </div>
              <div *ngIf="resetPasswordForm.controls.password.errors.minlength">
                Minimum 8 characters required.
              </div>
              <div *ngIf="resetPasswordForm.controls.password.errors.maxlength">
                  Maximum 12 characters allowed.
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password *"
              formControlName="confirm_password" [formGroup]="resetPasswordForm" required
            >
            <div *ngIf="resetPasswordForm.controls.confirm_password.invalid &&
              (resetPasswordForm.controls.confirm_password.dirty ||
              resetPasswordForm.controls.confirm_password.touched || myform.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="resetPasswordForm.controls.confirm_password.errors.required">
                This field is required.
              </div>
              <div *ngIf="resetPasswordForm.controls.confirm_password.errors.MatchPassword">
                Confirm Password does not match Password
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block theme-btn" [disabled]="showResetPasswordFormLoader">
              <span [ngClass]="{'spinner-border spinner-border-sm':showResetPasswordFormLoader}"></span> Submit
            </button>
          </div>
        </form>
      </ng-template>
      <ng-template [ngIf]="passwordChanged">
        <div class="alert alert-success">Your password has been reset successfully. Please click <a class="cp" routerLink="/login">here</a> to login.</div>
      </ng-template>
    </div>
  </div>
</div>
