<div class="page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9">
        <h2 class="page-title">Cities</h2>
      </div>
      <div class="col-sm-3 text-right">
        <button type="button" class="btn theme-btn" data-toggle="modal" data-target="#createCity">
          <i class="mdi mdi-plus-circle mr-1"></i> Add City
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body p-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Region</th>
              <th>City</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of citiesData |
              paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems };
              let i = index"
            >
              <th>{{i+1}}</th>
              <td>{{item.region_name }}</td>
              <td>{{item.city_name}}</td>
              <td>{{item.status}}</td>
              <td>
                <div class="icon-block">
                  <a class="cp" (click)="onEditCity(item.city_id,i)" data-toggle="modal" data-target="#editprofile">
                    <i class="mdi mdi-pencil b-gry" aria-hidden="true"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer p-2">
        <div class="row" *ngIf="citiesData.length">
          <div class="col-sm-12 mt-3 text-center">
            <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true">>
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="createCity" tabindex="-1" role="dialog" aria-labelledby="createCity" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':addFormAction}">
      <div class="modal-header">
        <h4 class="modal-title">Add Region</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="onSubmitAddForm()" #myform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="edit-pfrl-img-sec">
                  <div class="form-group">
                    <label for="country_code">Country Code</label>
                    <select (change)="getRegions()" formControlName="country_code" class="form-control"
                      id="country_code" [formGroup]="addForm">
                      <option value=""> Select Country </option>
                      <option *ngFor="let country of countries; let r = index;" [value]="country.country_code">
                        {{country.country_name}}</option>
                    </select>
                    <div *ngIf="addForm.controls.country_code.invalid &&
                                    (addForm.controls.country_code.dirty ||
                                    addForm.controls.country_code.touched || myform.submitted)"
                      class="invalid-feedback">
                      <div *ngIf="addForm.controls.country_code.errors.required">
                        This field is required.
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="region_code">Region Code</label>
                    <select formControlName="region_code" class="form-control" id="region_code" [formGroup]="addForm">
                      <option value=""> Select Region </option>
                      <option *ngFor="let region of regionData; let r = index;" [value]="region.region_code">
                        {{region.region_name}}</option>
                    </select>
                    <div *ngIf="addForm.controls.region_code.invalid &&
                                        (addForm.controls.region_code.dirty ||
                                        addForm.controls.region_code.touched || myform.submitted)"
                      class="invalid-feedback">
                      <div *ngIf="addForm.controls.region_code.errors.required">
                        This field is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="city_name">City Name</label>
                    <input type="text" class="form-control" id="city_name" placeholder="Enter Region Name"
                      [formGroup]="addForm" formControlName="city_name">
                    <div *ngIf="addForm.controls.city_name.invalid &&
                                            (addForm.controls.city_name.dirty ||
                                            addForm.controls.city_name.touched || myform.submitted)"
                      class="invalid-feedback">
                      <div *ngIf="addForm.controls.city_name.errors.required">This field is required.</div>
                      <div *ngIf="addForm.controls.city_name.errors.minlength">Minimum 2 characters required.</div>
                      <div *ngIf="addForm.controls.city_name.errors.maxlength">Maximum 100 characters allowed.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="status">City Status</label>
                    <select formControlName="status" class="form-control" id="status" [formGroup]="addForm">
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                    <div *ngIf="addForm.controls.status.invalid &&
                                        (addForm.controls.status.dirty ||
                                        addForm.controls.status.touched || myform.submitted)" class="invalid-feedback">
                      <div *ngIf="addForm.controls.status.errors.required">
                        This field is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" [disabled]="addFormAction" class="btn theme-btn mx-auto">
            <span [ngClass]="{'spinner-border spinner-border-sm':addFormAction}"></span> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="updateCity" tabindex="-1" role="dialog" aria-labelledby="updateCity" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':updateFormAction}">
      <div class="modal-header">
        <h4 class="modal-title">Update City</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmitupdateForm()" #myform2="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="edit-pfrl-img-sec">
                  <div class="form-group">
                    <label for="country_code_update">Country Code</label>
                    <select formControlName="country_code_update" class="form-control" id="country_code_update"
                      [formGroup]="updateForm">
                      <option value=""> Select Country </option>
                      <option *ngFor="let country of countries; let r = index;" [value]="country.country_code">
                        {{country.country_name}}</option>
                    </select>
                    <div *ngIf="updateForm.controls.country_code_update.invalid &&
                                    (updateForm.controls.country_code_update.dirty ||
                                    updateForm.controls.country_code_update.touched || myform.submitted)"
                      class="invalid-feedback">
                      <div *ngIf="updateForm.controls.country_code_update.errors.required">
                        This field is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="region_code_update">Region Code</label>
                    <select formControlName="region_code_update" class="form-control" id="region_code_update"
                      [formGroup]="updateForm">
                      <option value=""> Select Region </option>
                      <option *ngFor="let region of regionData; let r = index;" [value]="region.region_code">
                        {{region.region_name}}</option>
                    </select>
                    <div *ngIf="updateForm.controls.region_code_update.invalid &&
                                        (updateForm.controls.region_code_update.dirty ||
                                        updateForm.controls.region_code_update.touched || myform2.submitted)"
                      class="invalid-feedback">
                      <div *ngIf="updateForm.controls.region_code_update.errors.required">
                        This field is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="city_name_update">City Name</label>
                    <input type="text" class="form-control" id="city_name_update" placeholder="Enter Region Code"
                      [formGroup]="updateForm" formControlName="city_name_update">
                    <div *ngIf="updateForm.controls.city_name_update.invalid &&
                                            (updateForm.controls.city_name_update.dirty ||
                                            updateForm.controls.city_name_update.touched || myform2.submitted)"
                      class="invalid-feedback">
                      <div *ngIf="updateForm.controls.city_name_update.errors.required">
                        This field is required.
                      </div>
                      <div *ngIf="updateForm.controls.city_name_update.errors.minlength">
                        Minimum 2 characters required.
                      </div>
                      <div *ngIf="updateForm.controls.city_name_update.errors.maxlength">
                        Maximum 10 characters allowed.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="status_update">City Status</label>
                    <select formControlName="status_update" class="form-control" id="status_update"
                      [formGroup]="updateForm">
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                    <div *ngIf="updateForm.controls.status_update.invalid &&
                                        (updateForm.controls.status_update.dirty ||
                                        updateForm.controls.status_update.touched || myform2.submitted)"
                      class="invalid-feedback">
                      <div *ngIf="updateForm.controls.status_update.errors.required">
                        This field is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" [disabled]="updateFormAction" class="btn theme-btn mx-auto">
            <span [ngClass]="{'spinner-border spinner-border-sm':updateFormAction}"></span> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
