<div class="page-header" *ngIf="userType == 'Super Admin'">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <a routerLink="/my-establishments">Back to Clinics/Hospitals</a>
      </div>
    </div>
  </div>
</div>

<div class="row" [ngClass]="{'csspinner load1':dataLoader}">
  <div class="col-md-3">
    <div class="edit-pfrl-img-sec" *ngIf="clinicDetail">
      <div class="A-profile">
        <img [src]="logo_image_src" alt="" class="rounded-circle">
        <button type="button" class="btn btn-rounded btn-icon bg-Astral" (click)="nglogofileinput.click()">
          <i class="mdi mdi-camera"></i>
          <input #nglogofileinput type="file" (change)="onChangeLogo($event)" style="display:none;" accept="image/*">
        </button>
      </div>
      <div class="card">
        <div class="card-body p-2 text-center">
          <h6 class="card-title mb-1">{{clinicDetail.clinic_name}}</h6>
          <div class="mb-1"><small>{{clinicDetail.clinic_email}}</small></div>
          <div class="mb-1"><small><i class="mdi mdi-cellphone-android"></i> {{clinicDetail.clinic_phone_number}}</small></div>
        </div>
      </div>
    </div>
    <div class="form-group edit-pfrl-img-sec">
      <ul class="nav flex-column nav-pills nav-justified" role="tablist">
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='info'}" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true"><i class="mdi mdi-information-variant"></i> Basic Info</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='location'}" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="false"><i class="mdi mdi-map-marker"></i> Location</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='documents'}" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false"><i class="mdi mdi-file-document"></i> Documents</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='gallery'}" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false"><i class="mdi mdi-image-filter"></i> Gallery</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='services'}" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false"><i class="mdi mdi-book"></i> Services</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='bank'}" id="bank-tab" data-toggle="tab" href="#bank" role="tab" aria-controls="bank" aria-selected="false"><i class="mdi mdi-bank"></i> Bank</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='appointments'}" id="appointments-tab" data-toggle="tab" href="#appointments" role="tab" aria-controls="appointments" aria-selected="false"><i class="mdi mdi-calendar-clock"></i> Appointments</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='patients'}" id="patients-tab" data-toggle="tab" href="#patients" role="tab" aria-controls="patients" aria-selected="false"><i class="mdi mdi-account-multiple"></i> Patients</a>
        </li>
        <li class="nav-item text-left" *ngIf="userType != 'Doctor'">
          <a class="nav-link" [ngClass]="{'active':activeTab=='doctors'}" id="doctors-tab" data-toggle="tab" href="#doctors" role="tab" aria-controls="doctors" aria-selected="false"><i class="mdi mdi-account-multiple-outline"></i> Doctors</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9 intro-sec">
    <div class="tab-content">
      <div class="tab-pane" [ngClass]="{'active':activeTab=='info'}" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="card">
          <div class="card-body p-2" [ngClass]="{'csspinner load1':infoFormLoader}">
            <div class="card-title"><h3>Basic Info</h3></div>
            <form [formGroup]="infoForm" (ngSubmit)="onSubmitInfoForm()" #nginfoform="ngForm">
              <div class="form-row">
                <div class="form-group col-md-10">
                  <label>Name <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
                  <div class="invalid-feedback" *ngIf="infoForm.controls.name.invalid &&
                    (infoForm.controls.name.dirty || infoForm.controls.name.touched || nginfoform.submitted)"
                  >
                    <div *ngIf="infoForm.controls.name.errors.required">This field is required.</div>
                    <div *ngIf="infoForm.controls.name.errors.minlength">Minimum 2 characters required.</div>
                    <div *ngIf="infoForm.controls.name.errors.maxlength">Maximum 150 characters allowed.</div>
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label>Status <span class="symbol required"></span></label>
                  <select formControlName="status" class="form-control">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="infoForm.controls.status.invalid &&
                    (infoForm.controls.status.dirty || infoForm.controls.status.touched || nginfoform.submitted)"
                  >
                    <div *ngIf="infoForm.controls.status.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Email <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
                  <div class="invalid-feedback" *ngIf="infoForm.controls.email.invalid &&
                    (infoForm.controls.email.dirty || infoForm.controls.email.touched ||
                    nginfoform.submitted)"
                  >
                    <div *ngIf="infoForm.controls.email.errors.required">This field is required.</div>
                    <div *ngIf="infoForm.controls.email.errors.email || infoForm.controls.email.errors.pattern">Valid email is required.</div>
                    <div *ngIf="infoForm.controls.email.errors.maxlength">Maximum 100 characters allowed.</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>Phone Number <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter Phone No." formControlName="phone_number">
                  <div class="invalid-feedback" *ngIf="infoForm.controls.phone_number.invalid &&
                    (infoForm.controls.phone_number.dirty || infoForm.controls.phone_number.touched || nginfoform.submitted)"
                  >
                    <div *ngIf="infoForm.controls.phone_number.errors.required">This field is required.</div>
                    <div *ngIf="infoForm.controls.phone_number.errors.minlength">Minimum 6 Characters Required.</div>
                    <div *ngIf="infoForm.controls.phone_number.errors.maxlength">Maximum 15 Characters Allowed.</div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>Default <span class="symbol required"></span></label>
                  <select formControlName="set_default" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="infoForm.controls.set_default.invalid &&
                    (infoForm.controls.set_default.dirty || infoForm.controls.set_default.touched || nginfoform.submitted)"
                  >
                    <div *ngIf="infoForm.controls.set_default.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Introduction <span class="symbol required"></span></label>
                <textarea class="form-control" formControlName="introduction" rows="3"></textarea>
                <div class="invalid-feedback" *ngIf="infoForm.controls.introduction.invalid &&
                  (infoForm.controls.introduction.dirty || infoForm.controls.introduction.touched || nginfoform.submitted)"
                >
                  <div *ngIf="infoForm.controls.introduction.errors.required">This field is required.</div>
                  <div *ngIf="infoForm.controls.introduction.errors.minlength">Minimum 20 characters required.</div>
                  <div *ngIf="infoForm.controls.introduction.errors.maxlength">Maximum 1000 characters allowed.</div>
                </div>
              </div>
              <div class="form-group">
                <label>Work Schedule <span class="symbol required"></span></label>
                <textarea class="form-control" placeholder="Enter Work Schedule" formControlName="work_schedule" rows="3"></textarea>
                <div class="invalid-feedback" *ngIf="infoForm.controls.work_schedule.invalid &&
                  (infoForm.controls.work_schedule.dirty || infoForm.controls.work_schedule.touched ||
                  nginfoform.submitted)"
                >
                  <div *ngIf="infoForm.controls.work_schedule.errors.required">This field is required.</div>
                  <div *ngIf="infoForm.controls.work_schedule.errors.maxlength">Maximum 250 characters allowed.</div>
                </div>
              </div>
              <div class="form-group">
                <label>Amenities <small>(Press Enter after each amenity)</small></label>
                <ng-select2 [data]="amenitiesSelect2Data" [options]="amenitiesSelect2Options"
                formControlName="amenities"></ng-select2>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-group col-md-6 my-auto text-left">
                  Fields marked with <span class="symbol required"></span> is required
                </div>
                <div class="form-group col-md-6 text-right">
                  <button type="submit" [disabled]="infoFormLoader" class="btn theme-btn mx-auto">
                    <span [ngClass]="{'spinner-border spinner-border-sm':infoFormLoader}"></span> Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='location'}" id="location" role="tabpanel" aria-labelledby="location-tab">
        <div class="card">
          <div class="card-body p-2" [ngClass]="{'csspinner load1':locationFormLoader}">
            <div class="card-title"><h3>Location</h3></div>
            <form [formGroup]="locationForm" (ngSubmit)="onSubmitLocationForm()" #nglocationform="ngForm">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label>Country <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter Country" formControlName="clinic_country">
                  <div class="invalid-feedback" *ngIf="locationForm.controls.clinic_country.invalid &&
                    (locationForm.controls.clinic_country.dirty || locationForm.controls.clinic_country.touched || nglocationform.submitted)"
                  >
                    <div *ngIf="locationForm.controls.clinic_country.errors.required">This field is required.</div>
                    <div *ngIf="locationForm.controls.clinic_country.errors.maxlength">Maximum 50 characters allowed.</div>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label>State <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter State" formControlName="clinic_region">
                  <div class="invalid-feedback" *ngIf="locationForm.controls.clinic_region.invalid &&
                    (locationForm.controls.clinic_region.dirty || locationForm.controls.clinic_region.touched ||
                    nglocationform.submitted)"
                  >
                    <div *ngIf="locationForm.controls.clinic_region.errors.required">This field is required.</div>
                    <div *ngIf="locationForm.controls.clinic_region.errors.maxlength">Maximum 50 characters allowed.</div>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label>City <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter City" formControlName="clinic_city">
                  <div class="invalid-feedback" *ngIf="locationForm.controls.clinic_city.invalid &&
                    (locationForm.controls.clinic_city.dirty || locationForm.controls.clinic_city.touched ||
                    nglocationform.submitted)"
                  >
                    <div *ngIf="locationForm.controls.clinic_city.errors.required">This field is required.</div>
                    <div *ngIf="locationForm.controls.clinic_city.errors.maxlength">Maximum 1000 characters allowed.</div>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label>Postal Code <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter Postal Code" formControlName="clinic_postal_code">
                  <div class="invalid-feedback" *ngIf="locationForm.controls.clinic_postal_code.invalid &&
                    (locationForm.controls.clinic_postal_code.dirty || locationForm.controls.clinic_postal_code.touched
                    || nglocationform.submitted)
                  ">
                    <div *ngIf="locationForm.controls.clinic_postal_code.errors.required">This field is required.</div>
                    <div *ngIf="locationForm.controls.clinic_postal_code.errors.minlength">Minimum 6 characters required.</div>
                    <div *ngIf="locationForm.controls.clinic_postal_code.errors.maxlength">Maximum 6 characters allowed.</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Address <span class="symbol required"></span></label>
                <input type="text" class="form-control" [value]="address" (keydown.enter)="$event.preventDefault()"
                  placeholder="Enter Address" formControlName="clinic_address" autocorrect="off"
                  autocapitalize="off" autocomplete="off" autocomplete="chrome-off" spellcheck="off" type="text" #search autocomplete="new-password"
                >
                <div class="invalid-feedback" *ngIf="locationForm.controls.clinic_address.invalid &&
                  (locationForm.controls.clinic_address.dirty || locationForm.controls.clinic_address.touched ||
                  nglocationform.submitted)"
                >
                  <div *ngIf="locationForm.controls.clinic_address.errors.required">This field is required.</div>
                  <div *ngIf="locationForm.controls.clinic_address.errors.maxlength">Maximum 250 characters allowed.</div>
                </div>
              </div>
              <div class="form-group">
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
              </div>
              <div class="form-row" style="display:none">
                <div class="form-group col-md-6">
                  <label>Latitude</label>
                  <input type="text" class="form-control" formControlName="clinic_latitude" [value]="latitude">
                </div>
                <div class="form-group col-md-6">
                  <label>Longitude</label>
                  <input type="text" class="form-control" formControlName="clinic_longitude" [value]="longitude">
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-group col-md-6 my-auto text-left">
                  Fields marked with <span class="symbol required"></span> is required
                </div>
                <div class="form-group col-md-6 text-right">
                  <button type="submit" [disabled]="locationFormLoader" class="btn theme-btn mx-auto">
                    <span [ngClass]="{'spinner-border spinner-border-sm':locationFormLoader}"></span> Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='documents'}" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="card">
          <div class="card-body p-2" [ngClass]="{'csspinner load1':documentFormLoader}">
            <div class="card-title"><h3>Documents</h3></div>
            <form>
              <ng-container *ngFor="let doc of requiredDocs">
                <div class="form-row border-bottom p-2 mb-3">
                  <div class="form-group col-md-8 my-auto">
                    <label>
                      <i *ngIf="doc.verification_status == 'Verified'" class="mdi mdi-check-decagram text-success mdi-18px"
                        matTooltipClass="primary-tooltip" matTooltip="Document is verified"></i> {{doc.name}}
                      <span *ngIf="doc.required == 'Yes'" class="symbol required"></span>
                      <div *ngIf="userType != 'Super Admin'"><small class="text-danger">({{doc.description}})</small></div>
                    </label>
                    <div class="custom-file" *ngIf="doc.data.verification_status != 'Verified' && userType != 'Super Admin'">
                      <input type="file" (change)="onChangeDocument($event, doc.key)" accept="image/*" class="custom-file-input">
                      <label class="custom-file-label" for="customFile">Choose {{doc.name}}</label>
                    </div>
                    <div class="mt-2">
                      <span class="ml-2" *ngIf="doc.uploaded == 'Yes'">Verification Status: <label class="badge" [ngClass]="{'badge-info':doc.verification_status =='Pending','badge-success':doc.verification_status =='Verified','badge-danger':doc.verification_status =='Rejected'}">{{doc.verification_status}}</label></span>
                      <a *ngIf="doc.uploaded == 'Yes' && doc.data.download_url" [href]="doc.data.download_url" class="cp ml-2">
                        <button type="button" class="btn btn-inverse-dark btn-icon">
                          <i class="mdi mdi-download mdi-18px" matTooltipClass="primary-tooltip" matTooltip="Download"></i>
                        </button>
                      </a>
                      <button type="button" *ngIf="doc.uploaded == 'Yes' && userType != 'Super Admin' && doc.verification_status == 'Pending'"
                        class="cp btn btn-inverse-dark btn-icon text-danger ml-2" (click)="deleteDocument(doc.data.document_id)"
                      >
                        <i *ngIf="doc.verification_status!='Verified'" class="mdi mdi-delete mdi-18px" matTooltipClass="primary-tooltip" matTooltip="Delete"></i>
                      </button>
                      <button type="button" *ngIf="doc.uploaded == 'Yes' && userType == 'Super Admin' && doc.verification_status == 'Pending'"
                        class="cp btn-success ml-2" (click)="updateVerification(doc.data.document_id, 'Verified')"
                      >
                        Verify <i class="mdi mdi-check mdi-18px" matTooltipClass="primary-tooltip" matTooltip="Verify this doc"></i>
                      </button>
                      <button type="button" *ngIf="doc.uploaded == 'Yes' && userType == 'Super Admin' && doc.verification_status == 'Pending'"
                        class="cp btn-danger ml-2" (click)="updateVerification(doc.data.document_id, 'Rejected')"
                      >
                        Reject <i class="mdi mdi-close mdi-18px" matTooltipClass="primary-tooltip" matTooltip="Reject this doc"></i>
                      </button>
                    </div>
                  </div>
                  <div class="form-group col-md-4" *ngIf="doc.data.file_name">
                    <div class="form-row mt-2 mb-2">
                      <div class="border p-1 ml-2 mr-2">
                        <a data-fancybox [attr.data-caption]="doc.name" [href]="doc.data.file_url">
                          <img [src]="doc.data.file_url" alt="" class="img-fluid" style="height: 150px; width: 150px;">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <hr>
              <div class="form-row">
                <div class="form-group col-md-6 my-auto text-left">
                  Fields marked with <span class="symbol required"></span> is required
                </div>
                <div class="form-group col-md-6 text-right"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='gallery'}" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
        <div class="card">
          <div class="card-body p-2" [ngClass]="{'csspinner load1':galleryFormLoader}">
            <div class="card-title"><h3>Gallery</h3></div>
            <form>
              <div class="form-group">
                <label><small class="text-danger">(Only JPG or PNG files allowed, File size should not be greater than 2 MB)</small>
                </label>
                <div class="custom-file">
                  <input #nggalleryfileinput type="file" (change)="onChangeGalleryImages($event)" accept="image/*"
                    class="custom-file-input" multiple>
                  <label class="custom-file-label" for="customFile">Choose Images</label>
                </div>
              </div>
              <div class="row">
                <div class="img-item item p-3 text-center" *ngFor="let attachment of clinicAttachments; let i = index">
                  <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon img-delete">
                    <i class="mdi mdi-delete mdi-18px" (click)="deleteGalleryImage(attachment.id, i)"></i>
                  </button>
                  <a class="lightbox" data-fancybox="gallery" [href]="attachment.file_url">
                    <img class="img-fluid image scale-on-hover img-ele" [src]="attachment.file_url">
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='services'}" id="services" role="tabpanel" aria-labelledby="services-tab">
        <div class="card">
          <div class="card-body p-2" [ngClass]="{'csspinner load1':serviceDataLoader}">
            <div class="card-title">
              <div class="form-row">
                <div class="col-md-6">
                  <h3>Services</h3>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn theme-btn btn-sm" (click)="openAddServiceForm()">
                    <i class="mdi mdi-plus-circle mr-1"></i> Add Service
                  </button>
                </div>
              </div>
            </div>
            <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th>Service</th>
                  <th>Type</th>
                  <th>Fee</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="services.length">
                  <tr class="text-center" *ngFor="let service of services; let i = index;">
                    <td>{{service.title}}</td>
                    <td>{{service.service_type}}</td>
                    <td>{{service.service_fee}}</td>
                    <td>{{service.status}}</td>
                    <td>
                      <div class="icon-block">
                        <a class="cp" (click)="openServiceUpdateForm(service.service_id, i)" matTooltip="Update" matTooltipClass="primary-tooltip">
                          <i class="mdi mdi-pencil b-blue" aria-hidden="true"></i>
                        </a>
                        <a class="cp" (click)="onDeleteService(service.service_id)" matTooltip="Delete" matTooltipClass="primary-tooltip">
                          <i class="mdi mdi-delete b-brown" aria-hidden="true"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="!services.length">
                  <tr class="text-center">
                    <td colspan="5"><div class="alert alert-danger">No data found</div></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='bank'}" id="bank" role="tabpanel" aria-labelledby="bank-tab">
        <div class="card">
          <div class="card-body p-2" [ngClass]="{'csspinner load1':bankDataLoader}">
            <div class="card-title">
              <div class="form-row">
                <div class="col-md-6">
                  <h3>Banks</h3>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn theme-btn btn-sm" (click)="openBankAddForm()">
                    <i class="mdi mdi-plus-circle mr-1"></i> Add Bank
                  </button>
                </div>
              </div>
            </div>
            <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th>Bank Name</th>
                  <th>Account Holder Name</th>
                  <th>Account Number</th>
                  <th>Default</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center"
                  *ngFor="let bank of banks; let i = index;"
                >
                  <td>{{bank.bank_name}}</td>
                  <td>{{bank.account_holder_name}}</td>
                  <td>{{bank.account_number}}</td>
                  <td>{{bank.is_default}}</td>
                  <td>
                    <div class="icon-block">
                      <!-- <a class="cp" (click)="openBankUpdateForm(bank.bank_id, bank.clinic_id)" matTooltip="Edit"
                        matTooltipClass="primary-tooltip">
                        <i class="mdi mdi-pencil b-blue" aria-hidden="true"></i>
                      </a> -->
                      <a class="cp" *ngIf="bank.is_default=='No'" (click)="onDeleteBank(bank.bank_id,i)"
                          matTooltip="Delete" matTooltipClass="primary-tooltip">
                        <i class="mdi mdi-delete b-brown" aria-hidden="true"></i>
                      </a>
                      <a class="cp" *ngIf="bank.is_default=='No'" (click)="setDefaultBank(bank.bank_id, bank.clinic_id)"
                        matTooltip="Set Default" matTooltipClass="primary-tooltip">
                        <i class="mdi mdi-bank b-blue" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='appointments'}" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">
        <app-appointments></app-appointments>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='patients'}" id="patients" role="tabpanel" aria-labelledby="patients-tab">
        <app-patients></app-patients>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='doctors'}" id="doctors" role="tabpanel" aria-labelledby="doctors-tab" *ngIf="userType != 'Doctor'">
        <app-doctors></app-doctors>
      </div>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="addServiceFormModal" tabindex="-1" role="dialog" aria-labelledby="addServiceFormModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-white" [ngClass]="{'csspinner load1':serviceFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Add Service</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addServiceForm" (ngSubmit)="onSubmitAddServiceForm()" #ngaddserviceform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-group">
              <label>Service <span class="symbol required"></span></label>
              <input type="text" class="form-control" placeholder="Service" formControlName="title">
              <div class="invalid-feedback" *ngIf="addServiceForm.controls.title.invalid &&
                (addServiceForm.controls.title.dirty || addServiceForm.controls.title.touched || ngaddserviceform.submitted)"
              >
                <div *ngIf="addServiceForm.controls.title.errors.required">This field is required.</div>
                <div *ngIf="addServiceForm.controls.title.errors.minlength">Minimum 2 characters required.</div>
                <div *ngIf="addServiceForm.controls.title.errors.maxlength">Maximum 200 characters allowed.</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Type <span class="symbol required"></span></label>
                <select class="form-control" formControlName="service_type">
                  <option value="In Person">In Person</option>
                  <option value="Virtual">Virtual</option>
                  <option value="Other">Other</option>
                </select>
                <div class="invalid-feedback" *ngIf="addServiceForm.controls.service_type.invalid &&
                  (addServiceForm.controls.service_type.dirty || addServiceForm.controls.service_type.touched || ngaddserviceform.submitted)"
                >
                  <div *ngIf="addServiceForm.controls.service_type.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Fee <span class="symbol required"></span></label>
                <input type="text" class="form-control strict_numeric" placeholder="Fee" formControlName="service_fee">
                <div class="invalid-feedback" *ngIf="addServiceForm.controls.service_fee.invalid &&
                  (addServiceForm.controls.service_fee.dirty || addServiceForm.controls.service_fee.touched || ngaddserviceform.submitted)"
                >
                  <div *ngIf="addServiceForm.controls.service_fee.errors.required">This field is required.</div>
                  <div *ngIf="addServiceForm.controls.service_fee.errors.maxlength">Maximum 8 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Status <span class="symbol required"></span></label>
                <select class="form-control" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
                <div class="invalid-feedback" *ngIf="addServiceForm.controls.status.invalid &&
                  (addServiceForm.controls.status.dirty || addServiceForm.controls.status.touched || ngaddserviceform.submitted)"
                >
                  <div *ngIf="addServiceForm.controls.status.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Instruction <span class="symbol required"></span></label>
              <textarea class="form-control" formControlName="instructions"></textarea>
              <div class="invalid-feedback" *ngIf="addServiceForm.controls.instructions.invalid &&
                (addServiceForm.controls.instructions.dirty || addServiceForm.controls.instructions.touched || ngaddserviceform.submitted)"
              >
                <div *ngIf="addServiceForm.controls.instructions.errors.required">This field is required.</div>
                <div *ngIf="addServiceForm.controls.instructions.errors.maxlength">Maximum 1000 characters allowed.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6 my-auto text-left">
                Fields marked with <span class="symbol required"></span> is required
              </div>
              <div class="form-group col-md-6 text-right">
                <button type="submit" [disabled]="serviceFormLoader" class="btn theme-btn mx-auto">
                  <span [ngClass]="{'spinner-border spinner-border-sm':serviceFormLoader}"></span> Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="updateServiceFormModal" tabindex="-1" role="dialog" aria-labelledby="updateServiceFormModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-white" [ngClass]="{'csspinner load1':serviceFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Update Bank</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="updateServiceForm" (ngSubmit)="onSubmitServiceUpdateForm()" #ngupdateserviceform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-group">
              <label>Service <span class="symbol required"></span></label>
              <input type="text" class="form-control" placeholder="Service" formControlName="title">
              <div class="invalid-feedback" *ngIf="updateServiceForm.controls.title.invalid &&
                (updateServiceForm.controls.title.dirty || updateServiceForm.controls.title.touched || ngupdateserviceform.submitted)"
              >
                <div *ngIf="updateServiceForm.controls.title.errors.required">This field is required.</div>
                <div *ngIf="updateServiceForm.controls.title.errors.minlength">Minimum 2 characters required.</div>
                <div *ngIf="updateServiceForm.controls.title.errors.maxlength">Maximum 200 characters allowed.</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Type <span class="symbol required"></span></label>
                <select class="form-control" formControlName="service_type">
                  <option value="In Person">In Person</option>
                  <option value="Virtual">Virtual</option>
                  <option value="Other">Other</option>
                </select>
                <div class="invalid-feedback" *ngIf="updateServiceForm.controls.service_type.invalid &&
                  (updateServiceForm.controls.service_type.dirty || updateServiceForm.controls.service_type.touched || ngupdateserviceform.submitted)"
                >
                  <div *ngIf="updateServiceForm.controls.service_type.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Fee <span class="symbol required"></span></label>
                <input type="text" class="form-control strict_numeric" placeholder="Fee" formControlName="service_fee">
                <div class="invalid-feedback" *ngIf="updateServiceForm.controls.service_fee.invalid &&
                  (updateServiceForm.controls.service_fee.dirty || updateServiceForm.controls.service_fee.touched || ngupdateserviceform.submitted)"
                >
                  <div *ngIf="updateServiceForm.controls.service_fee.errors.required">This field is required.</div>
                  <div *ngIf="updateServiceForm.controls.service_fee.errors.maxlength">Maximum 8 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Status <span class="symbol required"></span></label>
                <select class="form-control" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
                <div class="invalid-feedback" *ngIf="updateServiceForm.controls.status.invalid &&
                  (updateServiceForm.controls.status.dirty || updateServiceForm.controls.status.touched || ngupdateserviceform.submitted)"
                >
                  <div *ngIf="updateServiceForm.controls.status.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Instruction <span class="symbol required"></span></label>
              <textarea class="form-control" formControlName="instructions"></textarea>
              <div class="invalid-feedback" *ngIf="updateServiceForm.controls.instructions.invalid &&
                (updateServiceForm.controls.instructions.dirty || updateServiceForm.controls.instructions.touched || ngupdateserviceform.submitted)"
              >
                <div *ngIf="updateServiceForm.controls.instructions.errors.required">This field is required.</div>
                <div *ngIf="updateServiceForm.controls.instructions.errors.maxlength">Maximum 1000 characters allowed.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6 my-auto text-left">
                Fields marked with <span class="symbol required"></span> is required
              </div>
              <div class="form-group col-md-6 text-right">
                <button type="submit" [disabled]="serviceFormLoader" class="btn theme-btn mx-auto">
                  <span [ngClass]="{'spinner-border spinner-border-sm':serviceFormLoader}"></span> Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="addBankModal" tabindex="-1" role="dialog" aria-labelledby="addBankModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-white" [ngClass]="{'csspinner load1':bankFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Add Bank</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addBankForm" (ngSubmit)="onSubmitAddBankForm()" #ngaddbankform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Bank Name <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Bank Name" formControlName="bank_name">
                <div class="invalid-feedback" *ngIf="addBankForm.controls.bank_name.invalid &&
                  (addBankForm.controls.bank_name.dirty || addBankForm.controls.bank_name.touched ||
                  ngaddbankform.submitted)"
                >
                  <div *ngIf="addBankForm.controls.bank_name.errors.required">This field is required.</div>
                  <div *ngIf="addBankForm.controls.bank_name.errors.minlength">Minimum 2 characters required.</div>
                  <div *ngIf="addBankForm.controls.bank_name.errors.maxlength">Maximum 100 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Account Holder Name <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Account Holder Name"
                  formControlName="account_holder_name"
                >
                <div class="invalid-feedback" *ngIf="addBankForm.controls.account_holder_name.invalid &&
                  (addBankForm.controls.account_holder_name.dirty || addBankForm.controls.account_holder_name.touched || ngaddbankform.submitted)"
                >
                  <div *ngIf="addBankForm.controls.account_holder_name.errors.required">This field is required.</div>
                  <div *ngIf="addBankForm.controls.account_holder_name.errors.minlength">Minimum 4 characters required.</div>
                  <div *ngIf="addBankForm.controls.account_holder_name.errors.maxlength">Maximum 120 characters allowed.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Account Number <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Account Number" formControlName="account_number">
                <div class="invalid-feedback" *ngIf="addBankForm.controls.account_number.invalid &&
                  (addBankForm.controls.account_number.dirty || addBankForm.controls.account_number.touched ||
                  ngaddbankform.submitted)"
                >
                  <div *ngIf="addBankForm.controls.account_number.errors.required">This field is required.</div>
                  <div *ngIf="addBankForm.controls.account_number.errors.minlength">Minimum 5 characters required.</div>
                  <div *ngIf="addBankForm.controls.account_number.errors.maxlength">Maximum 35 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Bank Code <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Bank Code" formControlName="bank_code">
                <div class="invalid-feedback" *ngIf="addBankForm.controls.bank_code.invalid &&
                  (addBankForm.controls.bank_code.dirty || addBankForm.controls.bank_code.touched ||
                  ngaddbankform.submitted)"
                >
                  <div *ngIf="addBankForm.controls.bank_code.errors.required">This field is required.</div>
                  <div *ngIf="addBankForm.controls.bank_code.errors.minlength">Minimum 11 characters required.</div>
                  <div *ngIf="addBankForm.controls.bank_code.errors.maxlength">Maximum 11 characters allowed.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Default ? <span class="symbol required"></span></label>
                <div class="form-check">
                  <label class="cp form-check-label">
                    <input type="radio" class="form-check-input" formControlName="is_default" value="Yes"> Yes <i class="input-helper"></i>
                  </label>
                </div>
                <div class="form-check">
                  <label class="cp form-check-label">
                    <input type="radio" class="form-check-input" formControlName="is_default" value="No"> No <i class="input-helper"></i>
                  </label>
                </div>
                <div class="invalid-feedback" *ngIf="addBankForm.controls.is_default.invalid &&
                  (addBankForm.controls.is_default.dirty || addBankForm.controls.is_default.touched ||
                  ngaddbankform.submitted)"
                >
                  <div *ngIf="addBankForm.controls.is_default.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6 my-auto text-left">
                Fields marked with <span class="symbol required"></span> is required
              </div>
              <div class="form-group col-md-6 text-right">
                <button type="submit" [disabled]="bankFormLoader" class="btn theme-btn mx-auto">
                  <span [ngClass]="{'spinner-border spinner-border-sm':bankFormLoader}"></span> Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="updateBankModal" tabindex="-1" role="dialog" aria-labelledby="updateBankModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-white" [ngClass]="{'csspinner load1':bankFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Update Bank</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="updateBankForm" (ngSubmit)="onSubmitBankUpdateForm()" #ngupdatebankform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Bank Name <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Bank Name" formControlName="bank_name">
                <div class="invalid-feedback" *ngIf="updateBankForm.controls.bank_name.invalid &&
                  (updateBankForm.controls.bank_name.dirty || updateBankForm.controls.bank_name.touched || ngupdatebankform.submitted)"
                >
                  <div *ngIf="updateBankForm.controls.bank_name.errors.required">This field is required.</div>
                  <div *ngIf="updateBankForm.controls.bank_name.errors.minlength">Minimum 2 characters required.</div>
                  <div *ngIf="updateBankForm.controls.bank_name.errors.maxlength">Maximum 100 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Account Holder Name <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Account Holder Name"
                  formControlName="account_holder_name"
                >
                <div class="invalid-feedback" *ngIf="updateBankForm.controls.account_holder_name.invalid &&
                  (updateBankForm.controls.account_holder_name.dirty ||
                  updateBankForm.controls.account_holder_name.touched || ngupdatebankform.submitted)"
                >
                  <div *ngIf="updateBankForm.controls.account_holder_name.errors.required">This field is required.</div>
                  <div *ngIf="updateBankForm.controls.account_holder_name.errors.minlength">Minimum 4 characters required.</div>
                  <div *ngIf="updateBankForm.controls.account_holder_name.errors.maxlength">Maximum 120 characters allowed.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Account Number <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Account Number" formControlName="account_number">
                <div class="invalid-feedback" *ngIf="updateBankForm.controls.account_number.invalid &&
                  (updateBankForm.controls.account_number.dirty ||
                  updateBankForm.controls.account_number.touched || ngupdatebankform.submitted)"
                >
                  <div *ngIf="updateBankForm.controls.account_number.errors.required">This field is required.</div>
                  <div *ngIf="updateBankForm.controls.account_number.errors.minlength">Minimum 5 characters required.</div>
                  <div *ngIf="updateBankForm.controls.account_number.errors.maxlength">Maximum 35 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Bank Code <span class="symbol required"></span></label>
                <input type="text" class="form-control" placeholder="Bank Code" formControlName="bank_code">
                <div class="invalid-feedback" *ngIf="updateBankForm.controls.bank_code.invalid &&
                  (updateBankForm.controls.bank_code.dirty || updateBankForm.controls.bank_code.touched || ngupdatebankform.submitted)"
                >
                  <div *ngIf="updateBankForm.controls.bank_code.errors.required">This field is required.</div>
                  <div *ngIf="updateBankForm.controls.bank_code.errors.minlength">Minimum 11 characters required.</div>
                  <div *ngIf="updateBankForm.controls.bank_code.errors.maxlength">Maximum 11 characters allowed.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Default Account ? <span class="symbol required"></span></label>
                <div class="form-check">
                  <label class="cp form-check-label">
                    <input type="radio" class="form-check-input" formControlName="is_default" value="Yes"> Yes <i class="input-helper"></i></label>
                </div>
                <div class="form-check">
                  <label class="cp form-check-label">
                    <input type="radio" class="form-check-input" formControlName="is_default" value="No"> No <i class="input-helper"></i></label>
                </div>
                <div class="invalid-feedback" *ngIf="updateBankForm.controls.is_default.invalid &&
                  (updateBankForm.controls.is_default.dirty || updateBankForm.controls.is_default.touched
                  || ngupdatebankform.submitted)"
                >
                  <div *ngIf="updateBankForm.controls.is_default.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6 my-auto text-left">
                Fields marked with <span class="symbol required"></span> is required
              </div>
              <div class="form-group col-md-6 text-right">
                <button type="submit" [disabled]="bankFormLoader" class="btn theme-btn mx-auto">
                  <span [ngClass]="{'spinner-border spinner-border-sm':bankFormLoader}"></span> Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="rejectDocumentFormModal" tabindex="-1" role="dialog" aria-labelledby="rejectDocumentFormModal"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-white" [ngClass]="{'csspinner load1':rejectDocumentFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Reject Document</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="rejectDocumentForm" (ngSubmit)="submitRejectDocumentForm()" #ngrejectdocumentform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-group">
              <p>Please provide the reason for rejected, this will be emailed to user</p>
            </div>
            <div class="form-group">
              <label>Reason <span class="symbol required"></span></label>
              <textarea class="form-control" formControlName="reason"></textarea>
              <div class="invalid-feedback" *ngIf="rejectDocumentForm.controls.reason.invalid &&
                (rejectDocumentForm.controls.reason.dirty || rejectDocumentForm.controls.reason.touched || ngrejectdocumentform.submitted)"
              >
                <div *ngIf="rejectDocumentForm.controls.reason.errors.required">This field is required.</div>
                <div *ngIf="rejectDocumentForm.controls.reason.errors.maxlength">Maximum 250 characters allowed.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6 my-auto text-left">
                Fields marked with <span class="symbol required"></span> is required
              </div>
              <div class="form-group col-md-6 text-right">
                <button type="submit" [disabled]="rejectDocumentFormLoader" class="btn theme-btn mx-auto">
                  <span [ngClass]="{'spinner-border spinner-border-sm':rejectDocumentFormLoader}"></span> Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
