<div [ngClass]="{'csspinner load1':showContentLoader}">
  <div class="about-doctor-section">
    <div class="page-header">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <h2 class="page-title">Appointments</h2>
          </div>
          <div class="col-sm-8 text-right">
            <div class="row">
              <div class="col-sm-10 text-right">
                <div class="popover__wrapper">
                  <button type="button" class="btn theme-btn mr-3 popover__title" (click)="togglePopover()">
                    <i class="mdi mdi-filter-variant btn-icon-prepend"></i> Filter
                  </button>
                  <div class="popover__content">
                    <div class="cp float-right text-Astral" (click)="clearFilter()">Clear Filter</div>
                    <h5 class="text-astral">Filter By</h5>
                    <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearchForm()">
                      <div class="page-header">
                        <div class="search-field">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend bg-transparent"><i
                                class="input-group-text border-0 mdi mdi-magnify"></i></div>
                            <input type="text" class="form-control bg-transparent border-0" placeholder="Search By Doctor , Patient Name" formControlName="search">
                          </div>
                        </div>
                      </div>
                      <!-- <h3>Date:</h3> -->
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="from_date">From Date</label>
                          <input [matDatepicker]="myDatepickerSearchFrom" class="form-control" placeholder="From Date"
                            formControlName="from_date">
                          <mat-datepicker-toggle [for]="myDatepickerSearchFrom" class="mat-dt-pic">
                          </mat-datepicker-toggle>
                          <mat-datepicker #myDatepickerSearchFrom></mat-datepicker>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="to_date">To Date</label>
                          <input [matDatepicker]="myDatepickerSearchTo" class="form-control" placeholder="To Date"
                            formControlName="to_date">
                          <mat-datepicker-toggle [for]="myDatepickerSearchTo" class="mat-dt-pic"></mat-datepicker-toggle>
                          <mat-datepicker #myDatepickerSearchTo></mat-datepicker>
                        </div>
                      </div>
                      <div class="apply-cancel">
                        <button type="submit" class="btn theme-btn">Apply</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-brown" (click)="cancelFilter()">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 pl-1 views-btn">
                <button type="button" class="btn tiles-view" [ngClass]="{'icon-active':viewType=='box'}"
                  (click)="changeViewType('box')">
                  <i class="mdi mdi-apps mdi-36px"></i>
                </button>
                <button type="button" class="btn list-view" [ngClass]="{'icon-active':viewType=='list'}"
                  (click)="changeViewType('list')">
                  <i class="mdi mdi-format-list-bulleted mdi-36px"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab"
            aria-controls="nav-pending" aria-selected="false">Pending</a>
          <a class="nav-item nav-link active" id="nav-upcoming-tab" data-toggle="tab" href="#nav-upcoming" role="tab"
            aria-controls="nav-upcoming" aria-selected="true">Upcoming</a>
          <a class="nav-item nav-link" id="nav-instant-tab" data-toggle="tab" href="#nav-instant" role="tab" *ngIf="userType=='Doctor'"
            aria-controls="nav-instant" aria-selected="false">Instant</a>
          <a class="nav-item nav-link" id="nav-past-tab" data-toggle="tab" href="#nav-past" role="tab"
            aria-controls="nav-past" aria-selected="false">Past</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="main-box-view">
    <div class="box-view" id="data-container" [ngClass]="{'list-view':viewType=='list', 'box-view':viewType=='box'}">
      <div class="col-sm-12">
        <div class="tab-content bg-white" id="nav-tabContent">
          <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
            <ng-template [ngIf]="totalPendingItems">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 item-container my-3"
                  *ngFor="let appointment of pending_appointments |
                    paginate: {id:'pending', itemsPerPage: itemsPerPage, currentPage: currentPagePe, totalItems:totalPendingItems}">
                  <div class="apointment card-grid my-auto" [ngClass]="{'csspinner load1':addFormAction}">
                    <div class="card-profile-content commonbox">
                      <div class="card-profile"><img [src]="appointment.patient_image_url" alt=""></div>
                      <div class="name-action">
                        <div class="profile-name">
                          <h6 class="m-0">{{appointment.patient_name}}</h6>
                          <div><small class="last-visit">{{appointment.last_visit}}</small></div>
                          <div><small class="last-visit">Booked For {{appointment.appointment_for}}</small></div>
                          <div><small class="last-visit">Apt ID: {{appointment.appointment_id}}</small></div>
                        </div>

                        <div class="hide-in-list icon-block mr-auto">
                          <a class="cp" *ngIf="userType == 'Doctor' || userType == 'Patient'"
                            (click)="confirmAppointment(appointment.appointment_id)"
                            matTooltip="Confirm Appointment" matTooltipClass="primary-tooltip"
                          >
                            <i class="mdi mdi-check brdr-blue-btn"></i>
                          </a>

                          <a class="cp" *ngIf="userType == 'Patient'" (click)="cancelAppointment(appointment.appointment_id)"
                            matTooltipClass="primary-tooltip" matTooltip="Cancel Appointment"
                          >
                            <i class="mdi mdi-close brdr-blue-btn"></i>
                          </a>

                          <a class="cp" *ngIf="userType == 'Doctor'" (click)="declineAppointment(appointment.appointment_id)"
                            matTooltipClass="primary-tooltip" matTooltip="Decline Appointment"
                          >
                            <i class="mdi mdi-close brdr-blue-btn"></i>
                          </a>

                          <a class="cp" *ngIf="userType == 'Patient' || userType == 'Doctor'"
                            (click)="openReschuledAppointmentModal(appointment.appointment_id)"
                            matTooltip="Reschedule Appointment" matTooltipClass="primary-tooltip">
                            <i class="mdi mdi-refresh brdr-blue-btn"></i>
                          </a>

                          <a class="cp" (click)="onViewAppointmentDetail(appointment.appointment_id)"
                            matTooltip="View Detail" matTooltipClass="primary-tooltip"
                          >
                            <i class="mdi mdi-eye brdr-blue-btn" aria-hidden="true"></i>
                          </a>

                        </div>
                      </div>
                    </div>
                    <div class="date-times commonbox">
                      <span class="hide-in-box text-gray hour float-left ap-time"><br>
                        {{appointment.appointment_from_time_formatted}}</span>
                      <br class="hide-in-box"><span class="hide-in-box"></span><br class="hide-in-box">
                      <div class="hide-in-list text-center">
                        <span class="text-gray small">{{appointment.appointment_date_formatted}}</span>
                        <br>
                        <span class="text-gray small">{{appointment.appointment_from_time_formatted}}</span>
                      </div>
                      <span class="text-gray small hide-in-box date-time-list date-times">
                        {{appointment.appointment_date_formatted}}
                      </span>
                    </div>

                    <div class="notes commonbox">
                      <h6 class="m-0" *ngIf="userType!='Doctor'" class="small mb-1 hide-in-list"><i
                          class="mdi mdi-wallet-travel text-Astral btn-icon-prepend mr-2"></i>
                        {{appointment.doctor_name}}</h6>
                      <div class="last-seen">
                        <h5 *ngIf="appointment.appointment_note">Notes:</h5>
                        <small class="text-gray" *ngIf="appointment.appointment_note">
                          {{appointment.appointment_note | slice:0:50}}
                          <ng-template [ngIf]="appointment.appointment_note.length > 50">...</ng-template>
                        </small>
                      </div>
                    </div>

                    <div class="hide-in-list address">
                      <p class="text-gray mb-1">{{appointment.last_visit}}</p>
                    </div>
                    <div *ngIf="userType!='Doctor'" class="hide-in-box address">
                      <h6>{{appointment.doctor_name}}</h6>
                    </div>
<!-- paition -->
                    <div class="actions commonbox">
                      <div class="hide-in-box icon-block mr-auto">
                        <a class="cp" *ngIf="userType == 'Doctor' || userType == 'Patient'"
                          (click)="confirmAppointment(appointment.appointment_id)"
                          matTooltip="Confirm Appointment" matTooltipClass="primary-tooltip"
                        >
                          <i class="mdi mdi-check brdr-blue-btn"></i>
                        </a>

                        <a class="cp" *ngIf="userType == 'Patient'" (click)="cancelAppointment(appointment.appointment_id)"
                          matTooltipClass="primary-tooltip" matTooltip="Cancel Appointment"
                        >
                          <i class="mdi mdi-close brdr-blue-btn"></i>
                        </a>

                        <a class="cp" *ngIf="userType == 'Doctor'" (click)="declineAppointment(appointment.appointment_id)"
                          matTooltipClass="primary-tooltip" matTooltip="Decline Appointment"
                        >
                          <i class="mdi mdi-close brdr-blue-btn"></i>
                        </a>

                        <a class="cp" *ngIf="userType == 'Patient' || userType == 'Doctor'"
                          (click)="openReschuledAppointmentModal(appointment.appointment_id)"
                          matTooltip="Reschedule Appointment" matTooltipClass="primary-tooltip">
                          <i class="mdi mdi-refresh brdr-blue-btn"></i>
                        </a>

                        <a class="cp" (click)="onViewAppointmentDetail(appointment.appointment_id)"
                          matTooltip="View Detail" matTooltipClass="primary-tooltip"
                        >
                          <i class="mdi mdi-eye brdr-blue-btn" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 mt-3 text-center" *ngIf="pending_appointments.length">
                  <pagination-controls id="pending" (pageChange)="pending_pageChanged($event)" autoHide="true"
                    responsive="true"></pagination-controls>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="!totalPendingItems">
              <div class="col-12 col-md-6 col-lg-3 item-container my-3">
                <div class="alert alert-danger">No Pending appointments found.</div>
              </div>
            </ng-template>
          </div>
          <div class="tab-pane px-1 fade show active" id="nav-upcoming" role="tabpanel" aria-labelledby="nav-upcoming-tab-tab">
            <ng-template [ngIf]="totalUpcomingItems">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 item-container my-3"
                  *ngFor="let appointment of upcoming_appointments |
                    paginate: {id:'upcoming', itemsPerPage: itemsPerPage, currentPage: currentPageUp, totalItems:totalUpcomingItems}">
                  <div class="apointment card-grid my-auto" [ngClass]="{'csspinner load1':addFormAction}">
                    <div class="card-profile-content commonbox">
                      <div class="card-profile"> <img [src]="appointment.patient_image_url" alt="">
                      </div>
                      <div class="name-action">
                        <div class="profile-name">
                          <h6 class="m-0">{{appointment.patient_name}}</h6>
                          <div><small class="last-visit">{{appointment.last_visit}}</small></div>
                          <div><small class="last-visit">Booked For {{appointment.appointment_for}}</small></div>
                          <div><small class="last-visit">Apt ID: {{appointment.appointment_id}}</small></div>
                        </div>
                        <div class="hide-in-list icon-block mr-auto">
                          <a class="cp" *ngIf="userType == 'Doctor' || userType == 'Patient'"
                            (click)="cancelAppointment(appointment.appointment_id)"
                            matTooltipClass="primary-tooltip" matTooltip="Cancel Appointment"
                          >
                            <i class="mdi mdi-close brdr-blue-btn"></i>
                          </a>

                          <a class="cp" *ngIf="userType == 'Doctor' || userType == 'Patient'"
                            (click)="openReschuledAppointmentModal(appointment.appointment_id)"
                            matTooltip="Reschedule Appointment" matTooltipClass="primary-tooltip"
                          >
                            <i class="mdi mdi-refresh brdr-blue-btn"></i>
                          </a>

                          <ng-template [ngIf]="userType == 'Doctor' && appointment.show_mark_completed">
                            <app-mark-completed [appointmentDetail]="appointment" (contentLoader)="manageContentLoader($event)" (refreshAppointment)="ngOnInit()"></app-mark-completed>
                          </ng-template>

                          <a class="cp" (click)="onViewAppointmentDetail(appointment.appointment_id)"
                            matTooltip="View Detail" matTooltipClass="primary-tooltip"
                          >
                            <i class="mdi mdi-eye brdr-blue-btn" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="date-times commonbox">
                      <span class="text-gray hour float-left ap-time">{{appointment.appointment_time_formatted}}</span>
                      <div class="hide-in-list text-right">
                        <span class="text-gray small">{{appointment.appointment_date_formatted}}</span>
                      </div>
                      <span
                        class="text-gray small hide-in-box date-time-list date-times">{{appointment.appointment_date_formatted}}</span>
                    </div>

                    <div class="notes commonbox">
                      <h6 class="m-0" *ngIf="userType!='Doctor'" class="small mb-1 hide-in-list"><i
                          class="mdi mdi-wallet-travel text-Astral btn-icon-prepend mr-2"></i>
                        {{appointment.doctor_name}}</h6>
                      <div class="last-seen">
                        <h5 *ngIf="appointment.appointment_note">Notes:</h5>
                        <small *ngIf="appointment.appointment_note" class="text-gray">
                          {{appointment.appointment_note | slice:0:50}}
                          <ng-template [ngIf]="appointment.appointment_note.length > 50">...</ng-template>
                        </small>
                      </div>
                    </div>

                    <div class="hide-in-list address">
                      <p class="text-gray mb-1">{{appointment.last_visit}}</p>
                    </div>
                    <div *ngIf="userType!='Doctor'" class="hide-in-box address">
                      <h6>{{appointment.doctor_name}}</h6>
                    </div>

                    <div class="actions commonbox">
                      <div class="hide-in-box icon-block mr-auto">
                        <a class="cp" *ngIf="userType == 'Doctor' || userType == 'Patient'"
                          (click)="cancelAppointment(appointment.appointment_id)"
                          matTooltipClass="primary-tooltip" matTooltip="Cancel Appointment"
                        >
                          <i class="mdi mdi-close brdr-blue-btn"></i>
                        </a>

                        <a class="cp" *ngIf="userType == 'Doctor' || userType == 'Patient'"
                          (click)="openReschuledAppointmentModal(appointment.appointment_id)"
                          matTooltip="Reschedule Appointment" matTooltipClass="primary-tooltip"
                        >
                          <i class="mdi mdi-refresh brdr-blue-btn"></i>
                        </a>

                        <ng-template [ngIf]="userType == 'Doctor' && appointment.show_mark_completed">
                          <app-mark-completed [appointmentDetail]="appointment" (contentLoader)="manageContentLoader($event)" (refreshAppointment)="ngOnInit()"></app-mark-completed>
                        </ng-template>

                        <a class="cp" (click)="onViewAppointmentDetail(appointment.appointment_id)"
                          matTooltip="View Detail" matTooltipClass="primary-tooltip"
                        >
                          <i class="mdi mdi-eye brdr-blue-btn" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 mt-3 text-center" *ngIf="upcoming_appointments.length">
                  <pagination-controls id="upcoming" (pageChange)="upcoming_pageChanged($event)" autoHide="true"
                    responsive="true"></pagination-controls>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="!totalUpcomingItems">
              <div class="col-12 col-md-6 col-lg-3 item-container my-3">
                <div class="alert alert-danger">No Upcoming appointments found.</div>
              </div>
            </ng-template>
          </div>
          <div class="tab-pane fade" id="nav-instant" role="tabpanel" aria-labelledby="nav-instant-tab-tab" *ngIf="userType=='Doctor'">
            <ng-template [ngIf]="totalInstantItems">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 item-container my-3"
                  *ngFor="let appointment of instant_appointments | paginate: {id:'instant', itemsPerPage: itemsPerPage, currentPage: currentPageIn, totalItems:totalInstantItems}"
                >
                  <div class="apointment card-grid my-auto" [ngClass]="{'csspinner load1':addFormAction}">
                    <div class="card-profile-content commonbox">
                      <div class="card-profile"> <img [src]="appointment.patient_image_url" alt="">
                      </div>
                      <div class="name-action">
                        <div class="profile-name">
                          <h6 class="m-0">{{appointment.patient_name}}</h6>
                          <div><small class="last-visit">{{appointment.last_visit}}</small></div>
                          <div><small class="last-visit">Booked For {{appointment.appointment_for}}</small></div>
                          <div><small class="last-visit">Apt ID: {{appointment.appointment_id}}</small></div>
                        </div>
                        <div class="hide-in-list icon-block mr-auto">
                          <a class="cp" *ngIf="userType == 'Doctor' || userType == 'Patient'"
                            (click)="cancelAppointment(appointment.appointment_id)"
                            matTooltipClass="primary-tooltip" matTooltip="Cancel Appointment"
                          >
                            <i class="mdi mdi-close brdr-blue-btn"></i>
                          </a>

                          <ng-template [ngIf]="userType == 'Doctor' && appointment.show_mark_completed">
                            <app-mark-completed [appointmentDetail]="appointment" (contentLoader)="manageContentLoader($event)" (refreshAppointment)="ngOnInit()"></app-mark-completed>
                          </ng-template>

                          <a class="cp" (click)="onViewAppointmentDetail(appointment.appointment_id)"
                            matTooltip="View Detail" matTooltipClass="primary-tooltip">
                            <i class="mdi mdi-eye brdr-blue-btn" aria-hidden="true"></i>
                          </a>

                          <a class="cp" routerLink="/appointments/consult/{{appointment.appointment_id}}"
                            matTooltip="Consult Now" matTooltipClass="primary-tooltip"
                          >
                            <i class="mdi mdi-headset brdr-blue-btn mt-2" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="date-times commonbox">
                      <span class="text-gray hour float-left ap-time">{{appointment.appointment_time_formatted}}</span>
                      <div class="hide-in-list text-right">
                        <span class="text-gray small">{{appointment.appointment_date_formatted}}</span>
                      </div>
                      <span
                        class="text-gray small hide-in-box date-time-list date-times">{{appointment.appointment_date_formatted}}</span>
                    </div>

                    <div class="notes commonbox">
                      <h6 class="m-0" *ngIf="userType!='Doctor'" class="small mb-1 hide-in-list"><i
                          class="mdi mdi-wallet-travel text-Astral btn-icon-prepend mr-2"></i>
                        {{appointment.doctor_name}}</h6>
                      <div class="last-seen">
                        <h5 *ngIf="appointment.appointment_note">Notes:</h5>
                        <small *ngIf="appointment.appointment_note" class="text-gray">
                          {{appointment.appointment_note | slice:0:50}}
                          <ng-template [ngIf]="appointment.appointment_note.length > 50">...</ng-template>
                        </small>
                      </div>
                    </div>

                    <div class="hide-in-list address">
                      <p class="text-gray mb-1">{{appointment.last_visit}}</p>
                    </div>
                    <div *ngIf="userType!='Doctor'" class="hide-in-box address">
                      <h6>{{appointment.doctor_name}}</h6>
                    </div>

                    <div class="actions commonbox">
                      <div class="hide-in-box icon-block mr-auto">
                        <a class="cp" *ngIf="userType == 'Doctor' || userType == 'Patient'"
                          (click)="cancelAppointment(appointment.appointment_id)"
                          matTooltipClass="primary-tooltip" matTooltip="Cancel Appointment"
                        >
                          <i class="mdi mdi-close brdr-blue-btn"></i>
                        </a>

                        <ng-template [ngIf]="userType == 'Doctor' && appointment.show_mark_completed">
                          <app-mark-completed [appointmentDetail]="appointment" (contentLoader)="manageContentLoader($event)" (refreshAppointment)="ngOnInit()"></app-mark-completed>
                        </ng-template>

                        <a class="cp" (click)="onViewAppointmentDetail(appointment.appointment_id)"
                          matTooltip="View Detail" matTooltipClass="primary-tooltip"
                        >
                          <i class="mdi mdi-eye brdr-blue-btn" aria-hidden="true"></i>
                        </a>

                        <a class="cp" routerLink="/appointments/consult/{{appointment.appointment_id}}"
                          matTooltip="Consult Now" matTooltipClass="primary-tooltip"
                        >
                          <i class="mdi mdi-headset brdr-blue-btn mt-2" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 mt-3 text-center" *ngIf="instant_appointments.length">
                  <pagination-controls id="instant" (pageChange)="instant_pageChanged($event)" autoHide="true"
                    responsive="true"></pagination-controls>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="!totalInstantItems">
              <div class="col-12 col-md-6 col-lg-3 item-container my-3">
                <div class="alert alert-danger">No instant appointments found.</div>
              </div>
            </ng-template>
          </div>
          <div class="tab-pane fade" id="nav-past" role="tabpanel" aria-labelledby="nav-past-tab">
            <ng-template [ngIf]="totalPastItems">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 item-container my-3" *ngFor="let appointment of past_appointments |
                  paginate: {id:'past', itemsPerPage: itemsPerPage, currentPage: currentPagePa, totalItems:totalPastItems};
                  let i = index"
                >
                  <div class="apointment card-grid my-auto" [ngClass]="{'csspinner load1':addFormAction}">
                    <div class="card-profile-content commonbox">
                      <div class="card-profile"> <img [src]="appointment.patient_image_url" alt="">
                      </div>
                      <div class="name-action">
                        <div class="profile-name">
                          <h6 class="m-0">{{appointment.patient_name}}</h6>
                          <div><small class="last-visit">{{appointment.last_visit}}</small></div>
                          <div><small class="last-visit">Booked For {{appointment.appointment_for}}</small></div>
                          <div><small class="last-visit">Apt ID: {{appointment.appointment_id}}</small></div>
                        </div>
                        <div class="hide-in-list icon-block mr-auto">
                          <a *ngIf="userType=='Patient'" class="cp"
                            (click)="openFeedbackModal(appointment.appointment_id, i)"
                            matTooltip="Give Feedback" matTooltipClass="primary-tooltip"
                          >
                            <i class="mdi mdi-comment-processing-outline brdr-blue-btn" aria-hidden="true"></i>
                          </a>
                          <a class="cp" (click)="onViewAppointmentDetail(appointment.appointment_id)"
                            matTooltip="View Detail" matTooltipClass="primary-tooltip"
                          >
                            <i class="mdi mdi-eye brdr-blue-btn" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="date-times commonbox">
                      <span class="text-gray hour float-left ap-time">{{appointment.appointment_time_formatted}}</span>
                      <div class="hide-in-list text-right">
                        <span class="text-gray small">{{appointment.appointment_date_formatted}}</span>
                      </div>
                      <span
                        class="text-gray small hide-in-box date-time-list date-times">{{appointment.appointment_date_formatted}}</span>
                    </div>

                    <div class="notes commonbox">
                      <h6 class="m-0" *ngIf="userType!='Doctor'" class="small mb-1 hide-in-list"><i
                          class="mdi mdi-wallet-travel text-Astral btn-icon-prepend mr-2"></i>
                        {{appointment.doctor_name}}</h6>
                      <div class="last-seen">
                        <h5 *ngIf="appointment.appointment_note">Notes:</h5>
                        <small *ngIf="appointment.appointment_note" class="text-gray">
                          {{appointment.appointment_note | slice:0:50}}
                          <ng-template [ngIf]="appointment.appointment_note.length > 50">...</ng-template>
                        </small>
                      </div>
                    </div>

                    <div class="hide-in-list address">
                      <p class="text-gray mb-1">{{appointment.last_visit}}</p>
                    </div>
                    <div *ngIf="userType!='Doctor'" class="hide-in-box address">
                      <h6>{{appointment.doctor_name}}</h6>
                    </div>

                    <div class="actions commonbox">
                      <div class="hide-in-box icon-block mr-auto">
                        <a class="cp" *ngIf="userType=='Patient'"
                          (click)="openFeedbackModal(appointment.appointment_id, i)"
                          matTooltip="Give Feedback" matTooltipClass="primary-tooltip"
                        >
                          <i class="mdi mdi-comment-processing-outline brdr-blue-btn" aria-hidden="true"></i>
                        </a>
                        <a class="cp" (click)="onViewAppointmentDetail(appointment.appointment_id)" matTooltip="View Detail"
                          matTooltipClass="primary-tooltip">
                          <i class="mdi mdi-eye brdr-blue-btn" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 mt-3 text-center" *ngIf="past_appointments.length">
                  <pagination-controls id="past" (pageChange)="past_pageChanged($event)" autoHide="true"
                    responsive="true"></pagination-controls>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="!totalPastItems">
              <div class="col-12 col-md-6 col-lg-3 item-container my-3">
                <div class="alert alert-danger">No Past appointments found.</div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-detail [appointmentDetail]="appointmentDetail" [openModalFlag]="openModalFlag"></app-detail>

<!-- <div class="modal fade actionModal" id="viewAppointment" tabindex="-1" role="dialog" aria-labelledby="viewAppointment"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" [ngClass]="{'csspinner load1':appointmentDetailLoader}">
    <div class="modal-content bg-white">
      <div class="modal-header">
        <h4 class="modal-title">Appointment ID {{appointmentDetail.appointment_id}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <img [src]="appointmentDetail.patient_image_url" class="img-fluid rounded-circle" width="100">
            </div>

            <div class="col-md-4">
              <h5 class="text-pre-wrap">{{appointmentDetail.patient_name}}</h5>
              <p class="text-pre-wrap">{{appointmentDetail.patient_age_formatted}},
                {{appointmentDetail.patient_gender}} </p>
            </div>

            <div class="col-md-6 my-auto">
              <h5 class="">Status: {{appointmentDetail.appointment_status}}</h5>
              <h5>Time: {{appointmentDetail.appointment_date_formatted}} / {{appointmentDetail.appointment_time_formatted}}</h5>
              <div *ngIf="userType == 'Doctor' || userType == 'Patient'">
                <a class="p-2 btn btn-success mr-2" (click)="consultNow()"
                  *ngIf="(appointmentDetail.appointment_status == 'Confirmed' || appointmentDetail.appointment_status == 'Pending') &&
                  appointmentDetail.token != ''" routerLink="/appointments/consult/{{appointmentDetail.appointment_id}}"
                >
                <i class="mdi mdi-headphones"></i> Consult
                </a>
                <button class="p-2 btn btn-success mr-2" (click)="download_prescription(appointmentDetail.appointment_id)"
                  *ngIf="(appointmentDetail.prescriptions.Imaging.length || appointmentDetail.prescriptions.Lab.length ||
                  appointmentDetail.prescriptions.Medicine.length || appointmentDetail.prescriptions.Recommend.length) && userType=='Patient'"
                  matTooltip="Download Prescription" matTooltipClass="primary-tooltip"
                >
                  <i class="mdi mdi-download"></i> Download Prescription
                </button>
              </div>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="userType != 'Doctor'">
            <div class="col-md-2">
              <img [src]="appointmentDetail.doctor_image_url" class="img-fluid rounded-circle" width="100">
            </div>
            <div class="col-md-10 my-auto">
              <div>
                <h5 class="text-pre-wrap">{{appointmentDetail.doctor_name}}</h5>
                <div class="text-pre-wrap">{{appointmentDetail.doctor_education}}</div>
                <div>{{appointmentDetail.doctor_specialization}}</div>
                <div class="text-pre-wrap">{{appointmentDetail.doctor_experience_formatted}}</div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12" *ngIf="appointmentDetail.appointment_note">
              <h5>Notes</h5>
              <p> {{appointmentDetail.appointment_note}} </p>
            </div>

            <div class="col-md-12" *ngIf="appointmentDetail.services">
              <p> <strong> Service : </strong> {{appointmentDetail.services.service_name}} | <strong> Fee : </strong>
                {{appointmentDetail.services.service_fee_formatted}}</p>
            </div>

            <div class="col-md-12" *ngIf="appointmentDetail.attachments.length > 0">
              <h5>Health Records</h5>
              <div class="mr-3 mt-1" style="display: inline-block; position:relative;"
                 *ngFor="let item of appointmentDetail.attachments; let i = index;"
              >
                <a data-fancybox [attr.data-caption]="item.file_title" [href]="item.file_url">
                  <span class="badge badge-info">{{item.file_title}}</span>
                </a>
                <i class="mdi mdi-close cp unshare-report" *ngIf="userType=='Patient'"
                  (click)="unshareReport(item.id, appointmentDetail.appointment_id, i)"
                  matTooltip="Unshare report" matTooltipClass="primary-tooltip"></i>
              </div>
            </div>

            <div class="col-md-12 mt-3" *ngIf="appointmentDetail.prescriptions.Medicine.length || appointmentDetail.prescriptions.Lab.length || appointmentDetail.prescriptions.Imaging.length || appointmentDetail.prescriptions.Recommend.length">
              <h5>Prescriptions</h5>
              <div class="card">
                <div class="card-body p-2" *ngIf="appointmentDetail.prescriptions.Medicine.length">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th colspan="7">Medicines</th>
                      </tr>
                      <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th>Dosage</th>
                        <th>Frequency</th>
                        <th>Duration</th>
                        <th>Intake</th>
                        <th>Instruction</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of appointmentDetail.prescriptions.Medicine; let i = index">
                        <td>{{i+1}}</td>
                        <td class="text-pre-wrap"> {{item.item_name}}</td>
                        <td>{{item.dosage}}</td>
                        <td>{{item.frequency}}</td>
                        <td>{{item.duration  + ' ' + item.duration_type }}</td>
                        <td>{{item.intake}}</td>
                        <td class="text-pre-wrap">{{item.prescribe_note}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-body p-2" *ngIf="appointmentDetail.prescriptions.Lab.length">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th colspan="2">Lab Test</th>
                      </tr>
                      <tr>
                        <th>#</th>
                        <th>Instruction</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of appointmentDetail.prescriptions.Lab; let i = index">
                        <td>{{i+1}}</td>
                        <td class="text-pre-wrap">{{item.prescribe_note}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-body p-2" *ngIf="appointmentDetail.prescriptions.Imaging.length">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th colspan="2">Imaging Test</th>
                      </tr>
                      <tr>
                        <th>#</th>
                        <th>Instruction</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of appointmentDetail.prescriptions.Imaging; let i = index">
                        <td>{{i+1}}</td>
                        <td class="text-pre-wrap">{{item.prescribe_note}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-body p-2" *ngIf="appointmentDetail.prescriptions.Recommend.length">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th colspan="2">Recommendation</th>
                      </tr>
                      <tr>
                        <th>#</th>
                        <th>Instruction</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of appointmentDetail.prescriptions.Recommend; let i = index">
                        <td>{{i+1}}</td>
                        <td class="text-pre-wrap">{{item.prescribe_note}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade actionModal" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="rescheduleModal"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':rescheduleFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Reschedule Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="rescheduleForm" (ngSubmit)="onSubmitRecheduleForm()" #ngrecheduleform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="appointment_date">Appointment Date <span class="symbol required"></span></label>
                <input [matDatepicker]="myDatepicker" class="form-control" [min]="minDate" [max]='maxRescheduleDate'
                  (focus)="myDatepicker.open()" placeholder="Appointment Date" formControlName="appointment_date" (dateChange)="onChangeRescheduleDate()"
                >
                <mat-datepicker-toggle [for]="myDatepicker" class="mat-dt-pic"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <div class="invalid-feedback" *ngIf="rescheduleForm.controls.appointment_date.invalid &&
                  (rescheduleForm.controls.appointment_date.dirty || rescheduleForm.controls.appointment_date.touched || ngrecheduleform.submitted)"
                >
                  <div *ngIf="rescheduleForm.controls.appointment_date.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="ap_time">Time Slot <span class="symbol required"></span></label>
                <select class="form-control" id="ap_time" formControlName="slot" (change)="onChangeTimeslot()">
                  <option value=''>Select Timeslot</option>
                  <ng-container *ngFor="let timeslot of timeslotData.slots.Morning">
                    <option *ngIf="timeslot.availability == 'Available'" [ngValue]="timeslot">
                      {{timeslot.title}} </option>
                  </ng-container>
                  <ng-container *ngFor="let timeslot of timeslotData.slots.Afternoon">
                    <option *ngIf="timeslot.availability == 'Available'" [ngValue]="timeslot">
                      {{timeslot.title}} </option>
                  </ng-container>
                  <ng-container *ngFor="let timeslot of timeslotData.slots.Evening">
                    <option *ngIf="timeslot.availability == 'Available'" [ngValue]="timeslot">
                      {{timeslot.title}} </option>
                  </ng-container>
                  <ng-container *ngFor="let timeslot of timeslotData.slots.Night">
                    <option *ngIf="timeslot.availability == 'Available'" [ngValue]="timeslot">
                      {{timeslot.title}} </option>
                  </ng-container>
                </select>
                <div class="invalid-feedback" *ngIf="rescheduleForm.controls.slot.invalid &&
                  (rescheduleForm.controls.slot.dirty || rescheduleForm.controls.slot.touched || ngrecheduleform.submitted)"
                >
                  <div *ngIf="rescheduleForm.controls.slot.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="reason">Reason</label>
              <textarea type="text" class="form-control" placeholder="Enter Reason" formControlName="reason"></textarea>
              <div class="invalid-feedback" *ngIf="rescheduleForm.controls.reason.invalid &&
                (rescheduleForm.controls.reason.dirty || rescheduleForm.controls.reason.touched || ngrecheduleform.submitted)"
              >
                <div *ngIf="addFeedbackForm.controls.reason.errors.maxlength">Maximum 250 characters allowed</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" [disabled]="rescheduleFormLoader" class="btn theme-btn mx-auto">
            <span [ngClass]="{'spinner-border spinner-border-sm':rescheduleFormLoader}"></span> Reschedule
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':addFeedbackFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Feedback</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addFeedbackForm" (ngSubmit)="onSubmitFeedbackForm()" #ngfeedbackform="ngForm">
        <div class="modal-body">
          <div class="container" *ngIf="feedbackAlreadyGiven">
            <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-success">
                  Congratulations, You have successfully provided a feedback for this appointment
                </div>
              </div>
            </div>
          </div>
          <div class="container" *ngIf="!feedbackAlreadyGiven">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Rating <span class="symbol required"></span></label>
                <div class="ratings">
                  <div class="cp rating-star" (click)="changeRating(1)"
                    [ngClass]="{'active':activeRating==1}">
                    <i class="mdi mdi-star mdi-24px"></i>
                    <span>1.0</span>
                  </div>
                  <div class="cp rating-star" (click)="changeRating(2)"
                    [ngClass]="{'active':activeRating==2}">
                    <i class="mdi mdi-star mdi-24px"></i>
                    <span>2.0</span>
                  </div>
                  <div class="cp rating-star" (click)="changeRating(3)"
                    [ngClass]="{'active':activeRating==3}">
                    <i class="mdi mdi-star mdi-24px"></i>
                    <span>3.0</span>
                  </div>
                  <div class="cp rating-star" (click)="changeRating(4)"
                    [ngClass]="{'active':activeRating==4}">
                    <i class="mdi mdi-star mdi-24px"></i>
                    <span>4.0</span>
                  </div>
                  <div class="cp rating-star" (click)="changeRating(5)"
                    [ngClass]="{'active':activeRating==5}">
                    <i class="mdi mdi-star mdi-24px"></i>
                    <span>5.0</span>
                  </div>
                </div>
                <div class="invalid-feedback" *ngIf="addFeedbackForm.controls.feedback_rating.invalid &&
                  (addFeedbackForm.controls.feedback_rating.dirty ||
                  addFeedbackForm.controls.feedback_rating.touched || ngfeedbackform.submitted)">
                  <div *ngIf="addFeedbackForm.controls.feedback_rating.errors.required">
                    Please provide star rating
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="recommendation">
                  Do you want to recommend this doctor? <span class="symbol required"></span>
                </label>
                <br>
                <label class="radio-inline mt-3 mr-3">
                  <i *ngIf="!is_yes" class="mdi mdi-thumb-up-outline mdi-36px cp" (click)="recommendDoc('Yes')"></i>
                  <i *ngIf="is_yes" class="mdi mdi-thumb-up-outline yes mdi-36px cp" (click)="recommendDoc('No')"></i>
                </label>
                <label class="radio-inline mt-3 mr-3">
                  <i *ngIf="!is_no" class="mdi mdi-thumb-down-outline mdi-36px cp" (click)="recommendDoc('No')"></i>
                  <i *ngIf="is_no" class="mdi mdi-thumb-down-outline yes mdi-36px cp" (click)="recommendDoc('Yes')"></i>
                </label>
                <div class="invalid-feedback" *ngIf="addFeedbackForm.controls.recommendation.invalid &&
                  (addFeedbackForm.controls.recommendation.dirty ||
                  addFeedbackForm.controls.recommendation.touched || ngfeedbackform.submitted)">
                  <div *ngIf="addFeedbackForm.controls.recommendation.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="happy_with">Happy With: </label>
                <ng-select2 [data]="feedbackSelect2Data" formControlName="happy_with"
                [options]="feedbackSelect2Options" [placeholder]="'Tap to Select'">
                </ng-select2>
              </div>

              <div class="form-group col-md-12">
                <label for="feedback_comment">Comment <span class="symbol required"></span></label>
                <textarea type="text" class="form-control" placeholder="Enter Your Comment" formControlName="feedback_comment"></textarea>
                <div class="invalid-feedback" *ngIf="addFeedbackForm.controls.feedback_comment.invalid &&
                  (addFeedbackForm.controls.feedback_comment.dirty || addFeedbackForm.controls.feedback_comment.touched || ngfeedbackform.submitted)">
                  <div *ngIf="addFeedbackForm.controls.feedback_comment.errors.required">This field is required.</div>
                  <div *ngIf="addFeedbackForm.controls.feedback_comment.errors.minlength"> Minimum 20 characters required</div>
                  <div *ngIf="addFeedbackForm.controls.feedback_comment.errors.maxlength">Maximum 200 characters allowed</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0" *ngIf="!feedbackAlreadyGiven">
          <button type="submit" [disabled]="addFeedbackFormLoader" class="btn theme-btn mx-auto">
            <span [ngClass]="{'spinner-border spinner-border-sm':addFeedbackFormLoader}"></span> Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
