<div class="page-header" *ngIf="userType == 'Super Admin'">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <a routerLink="/doctors">Back to Carers</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3" [ngClass]="{'csspinner load1':updateDoctorFormLoader}">
    <div class="edit-pfrl-img-sec">
      <div class="A-profile">
        <img [src]="userData.profile_image_url" alt="" class="rounded-circle">
        <button type="button" style="background-color: #6016e9  !important ;" class="btn btn-rounded btn-icon bg-Astral" (click)="ngprofileimagefileinput.click()">
          <i class="mdi mdi-camera"></i>
          <input #ngprofileimagefileinput type="file" (change)="onChangeProfileImage($event)" style="display:none;" accept="image/*">
        </button>
      </div>
      <div class="card">
        <div class="card-body p-2 text-center">
          <h6 class="card-title mb-1">{{userData.full_name}}</h6>
          <div class="mb-1"><small><i *ngIf="userData.email_verification_status == 'Verified'" class="mdi mdi-check-decagram text-success" matTooltip="Email Verified" matTooltipClass="primary-tooltip"></i>
            <i *ngIf="userData.email_verification_status != 'Verified'" class="mdi mdi-close-circle text-danger" matTooltip="Email Not Verified" matTooltipClass="primary-tooltip"></i> {{userData.email}}</small>
          </div>
          <div class="mb-1"><small><i class="mdi mdi-cellphone-android"></i> {{userData.mobile_number}}</small></div>
          <div class="mb-1"><small><i class="mdi mdi-account-check"></i> {{userData.account_status}} / {{userData.status}}</small></div>
        </div>
      </div>
    </div>
    <div class="form-group edit-pfrl-img-sec">
      <ul class="nav flex-column nav-pills nav-justified" role="tablist">
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='info'}" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true"><i class="mdi mdi-account-card-details"></i> Account Info</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='settings'}" id="doc-settings-tab" data-toggle="tab" href="#doc-settings" role="tab" aria-controls="doc-settings" aria-selected="false"><i class="mdi mdi-settings"></i> Settings</a>
        </li>
        <!-- <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='specialization'}" id="specialization-tab" data-toggle="tab" href="#specialization" role="tab" aria-controls="specialization" aria-selected="false"><i class="mdi mdi-medical-bag"></i> Specialization</a>
        </li> -->
        <!-- <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='service'}" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false"><i class="mdi mdi-book"></i> Service</a>
        </li> -->
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='work-schedule'}" id="work-schedule-tab" data-toggle="tab" href="#work-schedule" role="tab" aria-controls="work-schedule" aria-selected="false"><i class="mdi mdi-calendar-clock"></i> Work Schedule</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='documents'}" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false"><i class="mdi mdi-file-document"></i> Documents</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='experience'}" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false"><i class="mdi mdi-lightbulb"></i> Experience</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='education'}" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false"><i class="mdi mdi-library"></i> Qualification</a>
        </li>
        <li class="nav-item text-left">
          <a class="nav-link" [ngClass]="{'active':activeTab=='awards'}" id="awards-tab" data-toggle="tab" href="#awards" role="tab" aria-controls="awards" aria-selected="false"><i class="mdi mdi-trophy"></i> Awards</a>
        </li>
        <li class="nav-item text-left" *ngIf="userType != 'Clinic'">
          <a class="nav-link" [ngClass]="{'active':activeTab=='establishment'}" id="establishment-tab" data-toggle="tab" href="#establishment" role="tab" aria-controls="establishment" aria-selected="false"><i class="mdi mdi-hospital-marker"></i> Clinics/Hospitals</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9 intro-sec">
    <div class="tab-content">
      <div class="tab-pane" [ngClass]="{'active':activeTab=='info'}" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="card">
          <div class="card-body p-2" [ngClass]="{'csspinner load1':updateDoctorFormLoader}">
            <div class="card-title"><h3>Account Info</h3></div>
            <form [formGroup]="updateDoctorForm" (ngSubmit)="onSubmitupdateDoctorForm()" #ngupdatedoctorform="ngForm">
              <div class="form-row">
                <div class="form-group col-md-2">
                  <label>Title<span class="symbol required"></span></label>
                  <select class="form-control" formControlName="title">
                    <option value='Mr.'>Mr.</option>
                    <option value='Mrs.'>Mrs.</option>
                    <option value='Miss.'>Miss.</option>
                    <option value='Dr.'>Dr.</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="updateDoctorForm.controls.title.invalid && (updateDoctorForm.controls.title.dirty || updateDoctorForm.controls.title.touched || ngupdatedoctorform.submitted)">
                    <div *ngIf="updateDoctorForm.controls.title.errors.required">This field is required.</div>
                    <div *ngIf="updateDoctorForm.controls.title.errors.minlength">Minimum 2 characters required.</div>
                    <div *ngIf="updateDoctorForm.controls.title.errors.maxlength">Maximum 50 characters allowed.</div>
                  </div>
                </div>
                <div class="form-group col-md-5">
                  <label>First Name <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter First Name" formControlName="first_name">
                  <div class="invalid-feedback" *ngIf="updateDoctorForm.controls.first_name.invalid &&
                    (updateDoctorForm.controls.first_name.dirty || updateDoctorForm.controls.first_name.touched ||
                    ngupdatedoctorform.submitted)"
                  >
                    <div *ngIf="updateDoctorForm.controls.first_name.errors.required">This field is required.</div>
                    <div *ngIf="updateDoctorForm.controls.first_name.errors.minlength">Minimum 2 characters required.</div>
                    <div *ngIf="updateDoctorForm.controls.first_name.errors.maxlength">Maximum 50 characters allowed.</div>
                  </div>
                </div>
                <div class="form-group col-md-5">
                  <label>Last Name <span class="symbol required"></span></label>
                  <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="last_name">
                  <div class="invalid-feedback" *ngIf="updateDoctorForm.controls.last_name.invalid &&
                    (updateDoctorForm.controls.last_name.dirty || updateDoctorForm.controls.last_name.touched ||
                    ngupdatedoctorform.submitted)"
                  >
                    <div *ngIf="updateDoctorForm.controls.last_name.errors.required">This field is required.</div>
                    <div *ngIf="updateDoctorForm.controls.last_name.errors.minlength">Minimum 2 characters required.</div>
                    <div *ngIf="updateDoctorForm.controls.last_name.errors.maxlength">Maximum 50 characters allowed.</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Email
                    <i *ngIf="userData.email_verification_status == 'Verified'" class="mdi mdi-check-decagram text-success" matTooltip="Email Verified" matTooltipClass="primary-tooltip"></i>
                    <i *ngIf="userData.email_verification_status != 'Verified'" class="mdi mdi-close-circle text-danger" matTooltip="Email Not Verified" matTooltipClass="primary-tooltip"></i>
                    <span class="symbol required"></span>
                  </label>
                  <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
                  <div class="invalid-feedback" *ngIf="updateDoctorForm.controls.email.invalid &&
                    (updateDoctorForm.controls.email.dirty || updateDoctorForm.controls.email.touched || ngupdatedoctorform.submitted)"
                  >
                    <div *ngIf="updateDoctorForm.controls.email.errors.required">This field is required.</div>
                    <div *ngIf="updateDoctorForm.controls.email.errors.email || updateDoctorForm.controls.email.errors.pattern">Valid email is required.</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Mobile Number <span class="symbol required"></span>
                  </label>
                  <input type="text" class="form-control" placeholder="Enter Mobile" formControlName="mobile_number">
                  <div class="invalid-feedback" *ngIf="updateDoctorForm.controls.mobile_number.invalid &&
                    (updateDoctorForm.controls.mobile_number.dirty || updateDoctorForm.controls.mobile_number.touched ||
                    ngupdatedoctorform.submitted)"
                  >
                    <div *ngIf="updateDoctorForm.controls.mobile_number.errors.required">This field is required.</div>
                    <div *ngIf="updateDoctorForm.controls.mobile_number.errors.minlength">Minimum 8 characters required.</div>
                    <div *ngIf="updateDoctorForm.controls.mobile_number.errors.maxlength">Maximum 15 characters allowed.</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Gender <span class="symbol required"></span></label>
                  <select class="form-control" formControlName="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="updateDoctorForm.controls.gender.invalid &&
                    (updateDoctorForm.controls.gender.dirty || updateDoctorForm.controls.gender.touched ||
                    ngupdatedoctorform.submitted)"
                  >
                    <div *ngIf="updateDoctorForm.controls.gender.errors.required">This field is required.</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>DOB <small>(Format: D/M/Y)</small> <span class="symbol required"></span></label>
                  <input [matDatepicker]="myDatepickerSearchFrom" [max]="dobAllowedMaxDate" class="form-control"
                    placeholder="Date Of Birth" formControlName="dob">
                  <mat-datepicker-toggle [for]="myDatepickerSearchFrom" class="mat-dt-pic"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepickerSearchFrom></mat-datepicker>
                  <div class="invalid-feedback" *ngIf="updateDoctorForm.controls.dob.invalid &&
                    (updateDoctorForm.controls.dob.dirty || updateDoctorForm.controls.dob.touched || ngupdatedoctorform.submitted)"
                  >
                    <div *ngIf="updateDoctorForm.controls.dob.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="introduction">Introduction</label>
                <textarea class="form-control" id="introduction" rows="5" [formGroup]="updateDoctorForm"
                  formControlName="introduction"></textarea>
                <div class="invalid-feedback"
                  *ngIf="updateDoctorForm.controls.introduction.invalid &&
                    (updateDoctorForm.controls.introduction.dirty || updateDoctorForm.controls.introduction.touched || ngupdatedoctorform.submitted)">
                  <div *ngIf="updateDoctorForm.controls.introduction.errors.maxlength">Maximum 1000 characters allowed.</div>
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-group col-md-6 my-auto text-left">
                  Fields marked with <span class="symbol required"></span> is required
                </div>
                <div class="form-group col-md-6 text-right">
                  <button type="submit" [disabled]="updateDoctorFormLoader" class="btn theme-btn mx-auto">
                    <span [ngClass]="{'spinner-border spinner-border-sm':updateDoctorFormLoader}"></span> Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='settings'}" id="doc-settings" role="tabpanel" aria-labelledby="doc-settings-tab">
        <app-settings></app-settings>
      </div>
      <!-- <div class="tab-pane" [ngClass]="{'active':activeTab=='specialization'}" id="specialization" role="tabpanel" aria-labelledby="specialization-tab">
        <app-specialization></app-specialization>
      </div> -->
      <!-- <div class="tab-pane" [ngClass]="{'active':activeTab=='service'}" id="service" role="tabpanel" aria-labelledby="service-tab">
        <app-services></app-services>
      </div> -->
      <div class="tab-pane" [ngClass]="{'active':activeTab=='work-schedule'}" id="work-schedule" role="tabpanel" aria-labelledby="work-schedule-tab">
        <app-work-schedule></app-work-schedule>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='documents'}" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <app-documents></app-documents>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='experience'}" id="experience" role="tabpanel" aria-labelledby="experience-tab">
        <app-experience></app-experience>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='education'}" id="education" role="tabpanel" aria-labelledby="education-tab">
        <app-education></app-education>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='awards'}" id="awards" role="tabpanel" aria-labelledby="awards-tab">
        <app-awards></app-awards>
      </div>
      <div class="tab-pane" [ngClass]="{'active':activeTab=='establishment'}" id="establishment" role="tabpanel"
        aria-labelledby="establishment-tab" *ngIf="userType != 'Clinic'"
      >
        <app-establishment></app-establishment>
      </div>
    </div>
  </div>
</div>

