<div class="page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="page-title">{{header}}</h2>
      </div>
      <div class="col-sm-6">
        <div class="search-field">
          <form class="d-flex align-items-center">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend bg-transparent">
                <i class="input-group-text border-0 mdi mdi-magnify"></i>
              </div>
              <input type="text" #searchTerm class="form-control bg-transparent border-0" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <a class="btn btn-sm theme-btn" routerLink="create" routerLinkActive="active">
          <i class="mdi mdi-plus-circle mr-1"></i> Create
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body p-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Category</th>
              <th>Title</th>
              <th>Status</th>
              <th *ngIf="userType=='Super Admin'">Approval</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="" [ngClass]="{'csspinner load1':dataLoader}">
            <tr *ngFor="let item of articles | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.category_name}}</td>
              <td>{{item.title}}</td>
              <td>{{item.status}}</td>
              <td *ngIf="userType=='Super Admin'">
                <button type="button" class="btn btn-sm b-brown text-white"
                  *ngIf="(item.is_approved == 'Pending' || item.is_approved == 'Declined') && userType == 'Super Admin'"
                  (click)="changeStatus('Approved', item.article_id, i)" title="Click to Approve"
                >
                  {{item.is_approved}}
                </button>

                <button type="button" class="btn btn-sm theme-btn"
                  *ngIf="item.is_approved == 'Approved' && userType == 'Super Admin'"
                  (click)="changeStatus('Declined', item.article_id, i)" title="Click to Declined"
                >
                  {{item.is_approved}}
                </button>
              </td>
              <td>
                <div class="icon-block">
                  <a title="Edit" routerLink="update/{{item.alias}}">
                    <i class="cp mdi mdi-pencil b-gry" aria-hidden="true"></i>
                  </a>
                  <a title="Delete" (click)="onDeleteArticle(item.article_id, i)">
                    <i class="cp mdi mdi-delete b-brown"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer p-2">
        <div class="row" *ngIf="this.articles.length">
          <div class="col-sm-12 mt-3 text-center">
            <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true">></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



