<div class="page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9">
        <h2 class="page-title">Symptoms</h2>
      </div>
      <div class="col-sm-3 text-right">
        <button type="button" class="btn theme-btn" (click)="openAddForm()">
          <i class="mdi mdi-plus-circle mr-1"></i> Add Symptom
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body p-2">
        <table class="table table-hover" [ngClass]="{'csspinner load1':dataLoader}">
          <thead>
            <tr>
              <th>#</th>
              <th>Symptom</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of symptoms |
              paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index"
            >
              <th>{{itemsPerPage *(currentPage-1)+i+1}}</th>
              <td>{{item.symptom}}</td>
              <td>{{item.status}}</td>
              <td>
                <div class="icon-block">
                  <a class="cp" (click)="onEditItem(item.symptom_id, i)">
                    <i class="mdi mdi-pencil b-gry" aria-hidden="true"></i>
                  </a>
                  <a class="cp" (click)="onDeleteItem(item.symptom_id, i)">
                    <i class="mdi mdi-delete b-brown"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer p-2">
        <div class="row" *ngIf="symptoms.length">
          <div class="col-sm-12 mt-3 text-center">
            <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true">>
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="addFormModal" tabindex="-1" role="dialog" aria-labelledby="addFormModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':addFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Add Symptom</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="onSubmitAddForm()" #ngaddform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-sm-8">
                <label for="symptom">Symptom <span class="symbol required"></span></label>
                <input type="text" class="form-control" id="symptom" placeholder="Enter symptom Name"
                  [formGroup]="addForm" formControlName="symptom">
                <div class="invalid-feedback" *ngIf="addForm.controls.symptom.invalid &&
                  (addForm.controls.symptom.dirty || addForm.controls.symptom.touched || ngaddform.submitted)"
                >
                  <div *ngIf="addForm.controls.symptom.errors.required">This field is required.</div>
                  <div *ngIf="addForm.controls.symptom.errors.minlength">Minimum 2 characters required.</div>
                  <div *ngIf="addForm.controls.symptom.errors.maxlength">Maximum 50 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="status">Status <span class="symbol required"></span></label>
                <select class="form-control" id="status" [formGroup]="addForm" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
                <div class="invalid-feedback" *ngIf="addForm.controls.status.invalid &&
                  (addForm.controls.status.dirty || addForm.controls.status.touched || ngaddform.submitted)"
                >
                  <div *ngIf="addForm.controls.status.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="disease">Disease</label>
                <select class="form-control" id="disease" [formGroup]="addForm" formControlName="disease">
                  <option value="">Select Disease</option>
                  <option *ngFor="let item of allDiseases; let r = index;" [ngValue]="item">{{item.disease}}</option>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="level">Level</label>
                <input type="text" class="form-control strict_integer" id="level" placeholder="Enter Level"
                  [formGroup]="addForm" formControlName="level"
                >
              </div>
              <div class="form-group col-md-2 my-auto">
                <button type="button" class="btn btn-sm theme-btn" title="Add this disease"
                  (click)="addDisease(addForm.value.disease, addForm.value.level)"
                ><i class="mdi mdi-plus-circle mdi-24px"></i></button>
              </div>
            </div>
            <div class="form-group">
              <table class="table table-hover" *ngIf="symptomDiseases.length" [ngClass]="{'csspinner load1':dataLoader}">
                <tr>
                  <th>Disease</th>
                  <th>Level</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let disease of symptomDiseases; let i = index">
                  <td>{{disease.disease}}</td>
                  <td>{{disease.level}}</td>
                  <td>
                    <i class="mdi mdi-delete mdi-18px mdi-18px text-danger cp" (click)="removeDisease(i)"
                      matTooltipClass="primary-tooltip" matTooltip="Remove this disease"
                    ></i>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" [disabled]="addFormLoader" class="btn theme-btn mx-auto">
            <span [ngClass]="{'spinner-border spinner-border-sm':addFormLoader}"></span> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="updateFormModal" tabindex="-1" role="dialog" aria-labelledby="updateFormModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':updateFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Update Symptom</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmitupdateForm()" #ngupdateform="ngForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-sm-8">
                <label for="symptoms">Symptom <span class="symbol required"></span></label>
                <input type="text" class="form-control" id="symptoms" placeholder="Enter Symptom Name"
                  [formGroup]="updateForm" formControlName="symptom">
                <div class="invalid-feedback" *ngIf="updateForm.controls.symptom.invalid &&
                  (updateForm.controls.symptom.dirty || updateForm.controls.symptom.touched || ngupdateform.submitted)"
                >
                  <div *ngIf="updateForm.controls.symptom.errors.required">This field is required.</div>
                  <div *ngIf="updateForm.controls.symptom.errors.minlength">Minimum 2 characters required</div>
                  <div *ngIf="updateForm.controls.symptom.errors.maxlength">Maximum 50 characters allowed</div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="statuss">Status <span class="symbol required"></span></label>
                <select class="form-control" id="statuss" [formGroup]="updateForm" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
                <div class="invalid-feedback" *ngIf="updateForm.controls.status.invalid &&
                  (updateForm.controls.status.dirty || updateForm.controls.status.touched || ngupdateform.submitted)"
                >
                  <div *ngIf="updateForm.controls.status.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="diseases">Disease</label>
                <select class="form-control" id="diseases" [formGroup]="updateForm" formControlName="disease">
                  <option value="">Select Disease</option>
                  <option *ngFor="let item of allDiseases; let r = index;" [ngValue]="item">{{item.disease}}</option>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="levels">Level</label>
                <input type="text" class="form-control strict_integer" id="levels" placeholder="Enter Level"
                  [formGroup]="updateForm" formControlName="level"
                >
              </div>
              <div class="form-group col-md-2 my-auto">
                <button type="button" class="btn btn-sm theme-btn" matTooltip="Add this disease" matTooltipClass="primary-tooltip" (click)="addDisease(updateForm.value.disease, updateForm.value.level)"
                ><i class="mdi mdi-plus-circle mdi-24px"></i></button>
              </div>
            </div>
            <div class="form-group">
              <table class="table table-hover" *ngIf="symptomDiseases.length" [ngClass]="{'csspinner load1':dataLoader}">
                <tr>
                  <th>Disease</th>
                  <th>Level</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let disease of symptomDiseases; let i = index">
                  <td>{{disease.disease}}</td>
                  <td>{{disease.level}}</td>
                  <td>
                    <i class="mdi mdi-delete mdi-18px text-danger cp" (click)="removeDisease(i)"
                      matTooltipClass="primary-tooltip" matTooltip="Remove this disease"
                    ></i>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" [disabled]="updateFormLoader" class="btn theme-btn mx-auto">
            <span [ngClass]="{'spinner-border spinner-border-sm':updateFormLoader}"></span> Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
