<div class="page-header">
  <h3 class="page-title"> Change Password </h3>
</div>
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body intro-sec">
        <p>
          <small>The Password must be 6 to 20 characters long and contain one lower case letter, one upper case letter and one number.</small>
          <small>Last 3 passwords are not allowed.</small>
        </p>
        <div class="row">
          <div class="col-6 offset-3">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePasswordForm()" #ngchangepasswordform="ngForm">
              <div class="form-group">
                <label>Old Password <span class="symbol required"></span></label>
                <input type="password" class="form-control" placeholder="Enter Old Password" formControlName="old_password">
                <div class="invalid-feedback" *ngIf="changePasswordForm.controls.old_password.invalid &&
                  (changePasswordForm.controls.old_password.dirty || changePasswordForm.controls.old_password.touched ||
                  ngchangepasswordform.submitted)"
                >
                  <div *ngIf="changePasswordForm.controls.old_password.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label>New Password <span class="symbol required"></span></label>
                <input type="password" class="form-control" placeholder="Enter New Password" formControlName="password">
                <div class="invalid-feedback" *ngIf="changePasswordForm.controls.password.invalid &&
                  (changePasswordForm.controls.password.dirty || changePasswordForm.controls.password.touched || ngchangepasswordform.submitted)"
                >
                  <div *ngIf="changePasswordForm.controls.password.errors.required">This field is required.</div>
                  <div *ngIf="changePasswordForm.controls.password.errors.minlength">Minimum 6 characters required.</div>
                  <div *ngIf="changePasswordForm.controls.password.errors.maxlength">Maximum 20 characters allowed.</div>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm New Password <span class="symbol required"></span></label>
                <input type="password" class="form-control" placeholder="Confirm New Password *" formControlName="confirm_password" required>
                <div class="invalid-feedback" *ngIf="changePasswordForm.controls.confirm_password.invalid &&
                  (changePasswordForm.controls.confirm_password.dirty || changePasswordForm.controls.confirm_password.touched || ngchangepasswordform.submitted)"
                >
                  <div *ngIf="changePasswordForm.controls.confirm_password.errors.required">This field is required.</div>
                  <div *ngIf="changePasswordForm.controls.confirm_password.errors.MatchPassword">Confirm Password does not match Password</div>
                </div>
              </div>
              <div class="form-group text-right">
                <button type="submit" [disabled]="changePasswordFormLoader" class="btn theme-btn mx-auto">
                  <span [ngClass]="{'spinner-border spinner-border-sm':changePasswordFormLoader}"></span> Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
