<div class="page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9">
        <h2 class="page-title">Manage Specialities</h2>
      </div>
      <div class="col-sm-3 text-right">
        <button type="button" class="btn theme-btn" (click)="onManageCrud('', 'Create')">
          <i class="mdi mdi-plus-circle mr-1"></i> Add Speciality
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body p-2">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Order</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody [ngClass]="{'csspinner load1':dataLoader}">
              <tr *ngFor="let item of crudData | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems:totalItems}; let i = index">
                <th>{{i+1}}</th>
                <td><img width="100px" height="100px" [src]="item.image_url"></td>
                <td>{{item.name}}</td>
                <td>{{item.sort_order}}</td>
                <td>{{item.status}}</td>
                <td>
                  <div class="icon-block">
                    <a class="cp" (click)="onManageCrud(item.speciality_id, 'Update', i)">
                      <i class="mdi mdi-pencil b-gry" aria-hidden="true"></i>
                    </a>
                    <a class="cp" (click)="deleteCrudData(item.speciality_id, i)">
                      <i class="mdi mdi-delete b-brown"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="card-footer p-2">
        <div class="row" *ngIf="this.crudData.length">
          <div class="col-sm-12 mt-3 text-center">
            <pagination-controls (pageChange)="paginate($event)" autoHide="true"
              responsive="true"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="CrudModal" tabindex="-1" role="dialog" aria-labelledby="CrudModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile">
      <div class="modal-header">
        <h4 class="modal-title">{{currentAction}} Speciality</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="crudForm" (ngSubmit)="onSubmitCrudForm()" #mycrudform="ngForm"
        [ngClass]="{'csspinner load1':crudFormLoader}"
      >
        <div class="modal-body">
          <div class="container">
            <div class="form-group">
              <label for="name">Name <span class="symbol required"></span></label>
              <input type="text" class="form-control" id="name" placeholder="Enter Name"
                [formGroup]="crudForm" formControlName="name"
              >
              <div class="invalid-feedback" *ngIf="crudForm.controls.name.invalid &&
                (crudForm.controls.name.dirty || crudForm.controls.name.touched || mycrudform.submitted)"
              >
                <div *ngIf="crudForm.controls.name.errors.required">This field is required.</div>
                <div *ngIf="crudForm.controls.name.errors.minlength">Minimum 2 characters required.</div>
                <div *ngIf="crudForm.controls.name.errors.maxlength">Maximum 50 charaters allowed.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="image">Image <span class="symbol required"></span></label>
              <div class="text-danger mb-2">
                <div><small class="text-danger">Only JPG or PNG files allowed</small></div>
                <div><small class="text-danger">File size should not be greater than 1 MB</small></div>
              </div>
              <div class="custom-file">
                <input #myfileInput type="file" id="image" (change)="onFileInput($event)" accept="image/*"
                  class="custom-file-input">
                <label class="custom-file-label" for="customFile">Choose Image</label>
              </div>
              <div class="invalid-feedback" *ngIf="crudForm.controls.image.invalid &&
                (crudForm.controls.image.dirty || crudForm.controls.image.touched || mycrudform.submitted)"
              >
                <div *ngIf="crudForm.controls.image.errors.required">This field is required.</div>
              </div>
              <div class="form-row" *ngIf="imageSrc">
                <div class="border border-dark p-1 m-3 img-item">
                  <img [src]="imageSrc" alt="image" class="img-ele img-fluid">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="order">Order</label>
                <input type="text" class="form-control strict_integer" id="order" [formGroup]="crudForm" formControlName="sort_order">
              </div>
              <div class="form-group col-md-6">
                <label for="status">Status <span class="symbol required"></span></label>
                <select id="status" class="form-control" [formGroup]="crudForm" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
                <div class="invalid-feedback" *ngIf="crudForm.controls.status.invalid &&
                  (crudForm.controls.status.dirty || crudForm.controls.status.touched || mycrudform.submitted)"
                >
                  <div *ngIf="crudForm.controls.status.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" class="btn theme-btn mx-auto">
            <ng-template [ngIf]="this.currentAction=='Create'">Save</ng-template>
            <ng-template [ngIf]="this.currentAction=='Update'">Update</ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

