<div class="page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <h3 class="page-title">Clinics/Hospitals</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-8 text-right">
            <div class="search-field">
              <form class="d-flex align-items-center">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend bg-transparent">
                    <i class="input-group-text border-0 mdi mdi-magnify"></i>
                  </div>
                  <input type="text" #searchTerm class="form-control bg-transparent border-0"
                    placeholder="Search By name, email or mobile number">
                  <div class="input-group-append bg-transparent" *ngIf="search.length > 0">
                    <i class="cp input-group-text border-0 mr-3" title="Clear search" (click)="clearSearch()">×</i>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-4 text-right">
            <button type="button" class="btn theme-btn" (click)="openAddForm()">
              <i class="mdi mdi-plus-circle mr-1"></i> Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body p-2">
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Account Status </th>
              <th>Status </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody [ngClass]="{'csspinner load1':dataLoader}">
            <tr class="text-center"
              *ngFor="let user of establishment | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
              <td>{{i+1}}</td>
              <td>{{user.full_name}}</td>
              <td>{{user.clinic_email}}</td>
              <td>{{user.clinic_phone_number}}</td>
              <td>{{user.account_status}}</td>
              <td>{{user.status}}</td>
              <td>
                <div class="icon-block">
                  <a class="cp" title="View" matTooltip="View" matTooltipClass="primary-tooltip"
                    routerLink="/establishment/update" [queryParams]="{id:user.clinic_id, user_id:user.user_id}"
                  >
                    <i class="mdi mdi-eye bg-info"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer p-2">
        <div class="row" *ngIf="establishment.length">
          <div class="col-sm-12 mt-3 text-center">
            <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true">></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade actionModal" data-backdrop="static" id="addEstablishmentModal" tabindex="-1" role="dialog"
  aria-labelledby="addEstablishmentModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':addFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Add New Clinic/Hospital</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="onSubmitAddForm()" #myform="ngForm" autocomplete="off">
        <div class="modal-body">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="for_first_name">First Name <span class="symbol required"></span></label>
                <input type="text" class="form-control" id="for_first_name" placeholder="Enter First Name"
                  [formGroup]="addForm" formControlName="first_name">
                <div class="invalid-feedback"
                  *ngIf="addForm.controls.first_name.invalid &&
                    (addForm.controls.first_name.dirty || addForm.controls.first_name.touched || myform.submitted)">
                  <div *ngIf="addForm.controls.first_name.errors.required">This field is required.</div>
                  <div *ngIf="addForm.controls.first_name.errors.minlength">Minimum 2 characters required.</div>
                  <div *ngIf="addForm.controls.first_name.errors.maxlength">Maximum 50 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="for_last_name">Last Name <span class="symbol required"></span></label>
                <input type="text" class="form-control" id="for_last_name" placeholder="Enter Last Name"
                  [formGroup]="addForm" formControlName="last_name">
                <div class="invalid-feedback" *ngIf="addForm.controls.last_name.invalid &&
                    (addForm.controls.last_name.dirty || addForm.controls.last_name.touched || myform.submitted)">
                  <div *ngIf="addForm.controls.last_name.errors.required">This field is required.</div>
                  <div *ngIf="addForm.controls.last_name.errors.minlength">Minimum 2 characters required.</div>
                  <div *ngIf="addForm.controls.last_name.errors.maxlength">Maximum 50 characters allowed.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="for_email">Email <span class="symbol required"></span></label>
                <input type="text" class="form-control" id="for_email" placeholder="Enter Email"
                  [formGroup]="addForm" formControlName="email" autocomplete="off">
                <div class="invalid-feedback" *ngIf="addForm.controls.email.invalid &&
                    (addForm.controls.email.dirty || addForm.controls.email.touched || myform.submitted)">
                  <div *ngIf="addForm.controls.email.errors.required">This field is required.</div>
                  <div *ngIf="addForm.controls.email.errors.email || addForm.controls.email.errors.pattern">Valid email is required.</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="for_mobile_number">Mobile Number <span class="symbol required"></span></label>
                <input type="text" class="form-control" id="for_mobile_number" placeholder="Enter Mobile Number"
                  [formGroup]="addForm" formControlName="mobile_number">
                <div class="invalid-feedback"
                  *ngIf="addForm.controls.mobile_number.invalid &&
                    (addForm.controls.mobile_number.dirty || addForm.controls.mobile_number.touched || myform.submitted)">
                  <div *ngIf="addForm.controls.mobile_number.errors.required">This field is required.</div>
                  <div *ngIf="addForm.controls.mobile_number.errors.minlength">Minimum 10 characters required.</div>
                  <div *ngIf="addForm.controls.mobile_number.errors.maxlength">Maximum 15 characters allowed.</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="status">Status <span class="symbol required"></span></label>
                <select class="form-control" id="status" [formGroup]="addForm" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
                <div class="invalid-feedback" *ngIf="addForm.controls.status.invalid &&
                    (addForm.controls.status.dirty || addForm.controls.status.touched || myform.submitted)">
                  <div *ngIf="addForm.controls.status.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" [disabled]="addFormLoader" class="btn theme-btn mx-auto">
            <span [ngClass]="{'spinner-border spinner-border-sm':addFormLoader}"></span> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
