
<div class="card">
  <div class="card-body p-2">
    <div class="card-title">
      <h3>Settings</h3>
    </div>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmitSettingsForm()" #mysettingsform="ngForm" [ngClass]="{'csspinner load1':settingsFormLoader}">
      <div class="form-row">
        <label class="form-group col-md-6">
          Specialization <span class="symbol required"></span>
          <div><small>Choose the specialization you have</small></div>
        </label>
        <div class="form-group col-md-6">
          <select class="form-control" formControlName="specialization">
            <option value="" selected>Select</option>
            <option *ngFor="let row of specializations" [value]="row.specialization_name">{{row.specialization_name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="settingsForm.controls.specialization.invalid &&
            (settingsForm.controls.specialization.dirty || settingsForm.controls.specialization.touched || mysettingsform.submitted)"
          >
            <div *ngIf="settingsForm.controls.specialization.errors.required">This field is required.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <label class="form-group col-md-6">Practice Since <span class="symbol required"></span>
          <div><small>This will display below your name as total number of experience you have</small></div>
        </label>
        <div class="form-group col-md-3">
          <select class="form-control" formControlName="practice_started_month">
            <option *ngFor="let month of months" [value]="month.id">{{month.month}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="settingsForm.controls.practice_started_month.invalid &&
            (settingsForm.controls.practice_started_month.dirty || settingsForm.controls.practice_started_month.touched || mysettingsform.submitted)"
          >
            <div *ngIf="settingsForm.controls.practice_started_month.errors.required">This field is required.</div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <select class="form-control" formControlName="practice_started_year">
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="settingsForm.controls.practice_started_year.invalid &&
            (settingsForm.controls.practice_started_year.dirty || settingsForm.controls.practice_started_year.touched || mysettingsform.submitted)"
          >
            <div *ngIf="settingsForm.controls.practice_started_year.errors.required">This field is required.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <label class="form-group col-md-6"> Consultation Fee <span class="symbol required"></span>
          <div><small>This fee will be paid by user when they booked an appointment with you</small>
        </div>
        </label>
        <div class="form-group col-md-6">
          <div class="input-group fc-border">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 mdi mdi-currency-inr mdi-18px"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-0 strict_numeric" placeholder="Enter consultation fee eg. 300.00" formControlName="consultation_fee">
          </div>
          <div class="invalid-feedback" *ngIf="settingsForm.controls.consultation_fee.invalid &&
            (settingsForm.controls.consultation_fee.dirty || settingsForm.controls.consultation_fee.touched || mysettingsform.submitted)"
          >
            <div *ngIf="settingsForm.controls.consultation_fee.errors.required">This field is required.</div>
            <div *ngIf="settingsForm.controls.consultation_fee.errors.maxlength">Maximum 4 Characters Allowed.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <label class="form-group col-md-6">
          Session Duration <small>(in minutes)</small> <span class="symbol required"></span>
          <div><small>Duration of each session, its value is used at the time of creation of work schedule.</small></div>
        </label>
        <div class="form-group col-md-6">
          <input type="text" class="form-control strict_integer" placeholder="Enter duration in minutes eg 10, 15, 20" formControlName="session_duration">
          <div class="invalid-feedback" *ngIf="settingsForm.controls.session_duration.invalid &&
            (settingsForm.controls.session_duration.dirty || settingsForm.controls.session_duration.touched || mysettingsform.submitted)"
          >
            <div *ngIf="settingsForm.controls.session_duration.errors.required">This field is required.</div>
            <div *ngIf="settingsForm.controls.session_duration.errors.maxlength">Maximum 3 Characters Allowed.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <label class="form-group col-md-6">
          Session Gap <small>(in minutes)</small> <span class="symbol required"></span>
          <div><small>Gap between each session, its value is used at the time of creation of work schedule.</small></div>
        </label>
        <div class="form-group col-md-6">
          <input type="text" class="form-control strict_integer" placeholder="Enter duration of each gap eg. 5, 10, 15" formControlName="session_gap">
          <div class="invalid-feedback" *ngIf="settingsForm.controls.session_gap.invalid &&
            (settingsForm.controls.session_gap.dirty || settingsForm.controls.session_gap.touched || mysettingsform.submitted)"
          >
            <div *ngIf="settingsForm.controls.session_gap.errors.required">This field is required.</div>
            <div *ngIf="settingsForm.controls.session_gap.errors.maxlength">Maximum 2 Characters Allowed.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <label class="form-group col-md-6">
          Account <span class="symbol required"></span>
          <div><small>Inactivate your account for not accepting appointment booking this will also stop listing your profile to users, activate if you want to accept booking again.</small></div>
        </label>
        <div class="form-group col-md-6">
          <select class="form-control" formControlName="status">
            <option value="Active">Activate</option>
            <option value="Inactive">Inactivate</option>
          </select>
          <div class="invalid-feedback" *ngIf="settingsForm.controls.status.invalid &&
            (settingsForm.controls.status.dirty || settingsForm.controls.status.touched || mysettingsform.submitted)"
          >
            <div *ngIf="settingsForm.controls.status.errors.required">This field is required.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-group col-md-6 my-auto text-left">
          Fields marked with <span class="symbol required"></span> is required
        </div>
        <div class="form-group col-md-6 text-right">
          <button type="submit" [disabled]="settingsFormLoader" class="btn theme-btn">
            <span [ngClass]="{'spinner-border spinner-border-sm':settingsFormLoader}"></span> Update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
