<div class="page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="page-title">All Joined User</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body p-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Clinic</th>
              <th>Status</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody [ngClass]="{'csspinner load1':dataLoader}">
            <ng-container *ngIf="users.length">
              <tr *ngFor="let row of users; let i = index">
                <th>{{i+1}}</th>
                <td class="text-pre-wrap">{{row.full_name}}</td>
                <td>{{row.email}}</td>
                <td>{{row.clinic_name}}</td>
                <td>{{row.joined_status}}</td>
                <td>
                  <ng-template [ngIf]="row.joined_status=='Joined'">
                    {{row.joined_date | date:'medium'}}
                  </ng-template>
                  <ng-template [ngIf]="row.joined_status=='Left'">
                    {{row.left_date | date:'medium'}}
                  </ng-template>
                </td>
                <td>
                  <div class="icon-block">
                    <a class="cp" *ngIf="row.joined_status == 'Joined'" matTooltip="Remove User" matTooltipClass="primary-tooltip"
                      (click)="doRequestAction(row.id, 'Remove')"
                    >
                      <i class="mdi mdi-delete b-brown" aria-hidden="true"></i>
                    </a>

                    <a class="cp" *ngIf="row.joined_status == 'Pending'" matTooltip="Accept User" matTooltipClass="primary-tooltip"
                      (click)="doRequestAction(row.id, 'Accept')"
                    >
                      <i class="mdi mdi-check b-gry" aria-hidden="true"></i>
                    </a>

                    <a class="cp" *ngIf="row.joined_status == 'Pending'" matTooltip="Reject User" matTooltipClass="primary-tooltip"
                      (click)="doRequestAction(row.id, 'Reject')"
                    >
                      <i class="mdi mdi-close b-brown" aria-hidden="true"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="!users.length">
              <td colspan="8">
                <div class="alert alert-danger text-center">No data found</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>