<div class="card" [ngClass]="{'csspinner load1':workScheduleFormLoader}">
  <div class="card-body p-2">
    <div class="card-title">
      <a class="cp mr-3 float-right" matTooltip="Add work schedule" matTooltipClass="primary-tooltip" (click)="openAddWorkScheduleForm()">
        <i class="mdi mdi-plus-circle-outline mdi-24px"></i>
      </a>
      <h3>Work Schedule</h3>
    </div>

    <div class="form-row mb-3">
      <div class="col-md-12 mb-3 border p-3 available" *ngIf="dailySchedules.length>0">
        <h5>Daily Work Schedule</h5>
        <div class="mt-3" *ngFor="let row of dailySchedules">
          <p> Clinic Name:- <strong> {{row.clinic_name}} </strong> </p>
          <div *ngFor="let items of row.work_schedule" class="mt-1">
            <span>
              <i class="cp mdi mdi-calendar-clock mt-2"></i> {{items.title}}
              <i class="cp text-danger mdi mdi-delete mdi-18px" (click)="deleteWorkSchedule(row.clinic_id, 'item_name', items.title)"
                matTooltipClass="primary-tooltip" matTooltip="Delete all schedule for {{items.title}}"
              ></i>
            </span>
            <section *ngFor=" let item of items.data">
              <span>{{item.from_time}} - {{item.to_time}} Slots <i class="cp text-danger mdi mdi-delete mdi-18px" matTooltipClass="primary-tooltip" matTooltip="Delete this slot" (click)="deleteWorkSchedule(row.clinic_id, 'item', item.schedule_id)"></i></span><br>
              <span *ngFor="let slot of item.slots" class="badge badge-pill badge-secondary m-1">
                {{slot.from_time}} - {{slot.to_time}}
              </span>
            </section>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-3 border p-3 unavailable" *ngIf="specificSchedules.length>0">
        <h5>Ocassional Schedule</h5>
        <div class="mt-3" *ngFor="let row of specificSchedules">
          <p> Clinic Name:- <strong> {{row.clinic_name}} </strong> </p>
          <div *ngFor="let items of row.work_schedule" class="mt-1">
            <div *ngIf="items.type=='Partial Available'">
              <span>
                <i class="cp mdi mdi-calendar-clock mt-2"></i> {{items.title}}: Partial Available
                <i class="cp text-danger mdi mdi-delete mdi-18px" matTooltipClass="primary-tooltip" matTooltip="Delete this slot" (click)="deleteWorkSchedule(row.clinic_id, 'item', items.schedule_id)"></i>
              </span>
              <div class="mt-1">Reason: {{items.reason}}</div>
              <section *ngFor=" let item of items.data">
                <span>{{item.from_time}} - {{item.to_time}} Slots <i class="cp text-danger mdi mdi-delete mdi-18px" matTooltipClass="primary-tooltip" matTooltip="Delete this slot" (click)="deleteWorkSchedule(row.clinic_id, 'item', item.schedule_id)"></i></span><br>
                <span *ngFor="let slot of item.slots" class="badge badge-pill badge-secondary m-1">
                  {{slot.from_time}} - {{slot.to_time}}
                </span>
              </section>
            </div>
            <div *ngIf="items.type=='Unavailable'">
              <span>
                <i class="cp mdi mdi-calendar-clock mt-2"></i> {{items.title}}: Unavailable
                <i class="cp text-danger mdi mdi-delete mdi-18px" matTooltipClass="primary-tooltip" matTooltip="Delete this slot" (click)="deleteWorkSchedule(row.clinic_id, 'item', items.schedule_id)" ></i></span><br>
              <span class="p-1">Reason: {{items.reason}}</span>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-12 pr-1" *ngIf="!specificSchedules.length && !dailySchedules.length">
        <div class="alert alert-danger">No data Found.</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade actionModal" id="addWorkScheduleModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <form [formGroup]="workScheduleForm" (ngSubmit)="onSubmitWorkScheduleForm()" #myavailabilityform="ngForm">
      <div class="modal-content bg-white" [ngClass]="{'csspinner load1':workScheduleFormLoader}">
        <div class="modal-header">
          <h5 class="modal-title">Add Work Schedule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="form-group row">
              <div class="col-md-4">
                <select class="form-control" formControlName="clinic_id">
                  <option value=""> Select Clinic/Hospital </option>
                  <option *ngFor="let clinic of userClinics" [value]="clinic.clinic_id">{{clinic.clinic_name}}
                  </option>
                </select>
                <div class="invalid-feedback" *ngIf="workScheduleForm.controls.clinic_id.invalid &&
                  (workScheduleForm.controls.clinic_id.dirty || workScheduleForm.controls.clinic_id.touched || myavailabilityform.submitted)"
                >
                  <div *ngIf="workScheduleForm.controls.clinic_id.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <label class="form-check-label cp" for="for_daily" (click)="onChangeScheduleType('Daily')">
                    <input type="radio" id="for_daily" class="form-check-input" value="Daily" formControlName="schedule_type">
                      Daily Schedule <i class="input-helper"></i></label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check">
                  <label class="form-check-label cp" for="for_ocassional" (click)="onChangeScheduleType('Specific')">
                    <input type="radio" id="for_ocassional" class="form-check-input" value="Specific" formControlName="schedule_type">
                      Ocassional Schedule <i class="input-helper"></i></label>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="workScheduleForm.value.schedule_type=='Daily'">
              <div class="col-md-2 form-inline">
                <label>Days</label>
              </div>
              <div class="col-md-10 form-inline">
                <ng-container formArrayName="days" *ngFor="let day of workScheduleForm.get('days')['controls']; let i = index;">
                  <div class="form-check form-check-inline" [formGroupName]="i">
                    <label class="form-check-label cp" [for]="weekDays[i]">
                      <input type="checkbox" [id]="weekDays[i]" class="form-check-input" [value]="weekDays[i]" formControlName="available">
                        {{weekDays[i]}} <i class="input-helper"></i>
                    </label>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="form-group row" *ngIf="workScheduleForm.value.schedule_type=='Specific'">
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>From Date</mat-label>
                  <input formControlName="from_date" matInput [matDatepicker]="fdDatePicker" autocomplete="off" (click)="fdDatePicker.open()"
                    [min]="minAllowedDate"
                  >
                  <mat-datepicker-toggle matSuffix [for]="fdDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #fdDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>To Date</mat-label>
                  <input formControlName="to_date" matInput [matDatepicker]="tdDatePicker" autocomplete="off" (click)="tdDatePicker.open()"
                    [min]="minAllowedDate"
                  >
                  <mat-datepicker-toggle matSuffix [for]="tdDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #tdDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <select class="form-control status" formControlName="availability_type">
                  <option value="Unavailable">Unavailable</option>
                  <option value="Partial Available">Partial Available</option>
                </select>
              </div>
            </div>
            <ng-container *ngIf="workScheduleForm.value.schedule_type=='Daily' || workScheduleForm.value.availability_type=='Partial Available'">
              <div class="form-group row">
                <div class="col-md-2">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label cp">
                      <input type="checkbox" class="form-check-input" [checked]="morningChecked" (change)="enableDisableShift($event.target.checked, 'Morning')">Morning <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
                <div class="col-md-10">
                  <ngx-slider [(value)]="mrMinValue" [(highValue)]="mrMaxValue" [options]="mrOptions"></ngx-slider>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label cp">
                      <input type="checkbox" class="form-check-input" [checked]="afternoonChecked" (change)="enableDisableShift($event.target.checked, 'Afternoon')">Afternoon <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
                <div class="col-md-10">
                  <ngx-slider [(value)]="afMinValue" [(highValue)]="afMaxValue" [options]="afOptions"></ngx-slider>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label cp">
                      <input type="checkbox" class="form-check-input" [checked]="eveningChecked" (change)="enableDisableShift($event.target.checked, 'Evening')">Evening <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
                <div class="col-md-10">
                  <ngx-slider [(value)]="evMinValue" [(highValue)]="evMaxValue" [options]="evOptions"></ngx-slider>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label cp">
                      <input type="checkbox" class="form-check-input" [checked]="nightChecked" (change)="enableDisableShift($event.target.checked, 'Night')">Night <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
                <div class="col-md-10">
                  <ngx-slider [(value)]="ngMinValue" [(highValue)]="ngMaxValue" [options]="ngOptions"></ngx-slider>
                </div>
              </div>
            </ng-container>
            <div class="form-group" *ngIf="workScheduleForm.value.schedule_type=='Specific'">
              <input type="text" class="form-control reason" formControlName="reason" placeholder="Reason">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6 my-auto text-left">
                Fields marked with <span class="symbol required"></span> is required
              </div>
              <div class="form-group col-md-6 text-right">
                <button type="submit" [disabled]="workScheduleFormLoader" class="btn theme-btn">
                  <span [ngClass]="{'spinner-border spinner-border-sm':workScheduleFormLoader}"></span> Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

