<div class="page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9">
        <h2 class="page-title">Categories</h2>
      </div>
      <div class="col-sm-3 text-right">
        <button type="button" class="btn theme-btn" (click)="openAddForm()">
          <i class="mdi mdi-plus-circle"></i> Add Category
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" [ngClass]="{'csspinner load1':dataLoader}">
  <div class="col-sm-12" *ngFor="let item of categories |
    paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index"
  >
    <div class="text-center shadow p-3 mb-3 bg-white rounded" *ngIf="item.parent_id == 0">
      <div class="row">
        <div class="col-sm-6 my-auto text-left">
          <h5 class="mt-2 px-2">{{item.category_name}}</h5>
        </div>
        <div class="col-sm-3 my-auto">{{item.status}}</div>
        <div class="col-sm-3">
          <div class="icon-block text-right">
            <a class="cp" (click)="openEditForm(item.category_id, i)">
              <i class="mdi mdi-pencil b-gry"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="row" *ngFor="let sub_item of item.subCategory; let j = index">
        <div class="col-sm-6 my-auto text-left">
          <span class="px-2">{{sub_item.category_name}}</span>
        </div>
        <div class="col-sm-3 my-auto">{{sub_item.status}}</div>
        <div class="col-sm-3">
          <div class="icon-block text-right">
            <a class="cp" (click)="openEditForm(sub_item.category_id, i, j)">
              <i class="mdi mdi-pencil b-gry"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="categories.length">
  <div class="col-sm-12 mt-3 text-center">
    <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true">></pagination-controls>
  </div>
</div>

<div class="modal fade actionModal" id="addFormModal" tabindex="-1" role="dialog"
  aria-labelledby="addFormModal" aria-hidden="true" data-backdrop="static"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':addFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Add Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="onSubmitAddForm()" #ngaddform="ngForm">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="parent_id">Parent Category</label>
              <!-- <select [formGroup]="addForm" formControlName="parent_id" class="form-control" id="parent_id"
                (change)="getSelectedOptionText($event)"> -->
              <select [formGroup]="addForm" formControlName="parent_id" class="form-control" id="parent_id">
                <option value="">Select Category</option>
                <option *ngFor="let row of allParentCategories" [value]='row.category_id'>
                  {{row.category_name}}</option>
              </select>
            </div>
            <div class="form-group col-sm-4">
              <label for="category_name">Name <span class="symbol required"></span></label>
              <input type="text" class="form-control" id="category_name" placeholder="Enter Name"
                [formGroup]="addForm" formControlName="category_name">
              <div class="invalid-feedback" *ngIf="addForm.controls.category_name.invalid &&
                (addForm.controls.category_name.dirty || addForm.controls.category_name.touched || ngaddform.submitted)"
              >
                <div *ngIf="addForm.controls.category_name.errors.required">This field is required.</div>
                <div *ngIf="addForm.controls.category_name.errors.minlength">Minimum 2 characters required.</div>
                <div *ngIf="addForm.controls.category_name.errors.maxlength">Maximum 50 characters allowed.</div>
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label for="category_status">Status <span class="symbol required"></span></label>
              <select formControlName="status" class="form-control" id="category_status" [formGroup]="addForm">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="addForm.controls.status.invalid && (addForm.controls.status.dirty ||
                addForm.controls.status.touched || ngaddform.submitted)"
              >
                <div *ngIf="addForm.controls.status.errors.required">This field is required.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Image <span class="symbol required"></span>
                <div class="text-danger">
                  <div><small>Only JPG or PNG files allowed</small></div>
                  <div><small>File size should not be greater than 2 MB</small></div>
                </div>
              </label>
              <div class="custom-file">
                <input #ngfileinput type="file" (change)="onFileInput($event)" accept="image/*" class="custom-file-input">
                <label class="custom-file-label" for="customFile">Choose Image</label>
              </div>
              <div class="invalid-feedback" *ngIf="addForm.controls.image.invalid &&
                (addForm.controls.image.dirty || addForm.controls.image.touched || ngaddform.submitted)"
              >
                <div *ngIf="addForm.controls.image.errors.required">This field is required.</div>
              </div>
            </div>
            <div class="form-group col-sm-6 text-center" *ngIf="imageSrc">
              <div class="img-item">
                <img [src]="imageSrc" alt="image" class="img-ele img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" class="btn theme-btn mx-auto">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade actionModal" id="updateFormModal" tabindex="-1" role="dialog"
  aria-labelledby="updateFormModal" aria-hidden="true" data-backdrop="static"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content edit-profile" [ngClass]="{'csspinner load1':updateFormLoader}">
      <div class="modal-header">
        <h4 class="modal-title">Update Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmitupdateForm()" #ngupdateform="ngForm">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="parent_id_update">Parent Category</label>
              <select formControlName="parent_id" class="form-control" id="parent_id_update" [formGroup]="updateForm">
                <option value="0">Select Category</option>
                <option *ngFor="let row of allParentCategories" [value]='row.category_id'>
                  {{row.category_name}}</option>
              </select>
            </div>
            <div class="form-group col-sm-4">
              <label for="category_name_update">Name <span class="symbol required"></span></label>
              <input type="text" class="form-control" id="category_name_update" placeholder="Enter Name"
                [formGroup]="updateForm" formControlName="category_name">
              <div class="invalid-feedback"
                *ngIf="updateForm.controls.category_name.invalid &&
                (updateForm.controls.category_name.dirty || updateForm.controls.category_name.touched || ngupdateform.submitted)">
                <div *ngIf="updateForm.controls.category_name.errors.required">This field is required.</div>
                <div *ngIf="updateForm.controls.category_name.errors.minlength">Minimum 2 characters required.</div>
                <div *ngIf="updateForm.controls.category_name.errors.maxlength">Maximum 50 characters allowed.</div>
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label for="category_status_update">Status <span class="symbol required"></span></label>
              <select formControlName="status" class="form-control" id="category_status_update"
                [formGroup]="updateForm">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
              <div class="invalid-feedback" *ngIf="updateForm.controls.status.invalid &&
                (updateForm.controls.status.dirty || updateForm.controls.status.touched || ngupdateform.submitted)"
              >
                <div *ngIf="updateForm.controls.status.errors.required">This field is required.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Image <span class="symbol required"></span>
                <div class="text-danger">
                  <div><small>Only JPG or PNG files allowed</small></div>
                  <div><small>File size should not be greater than 2 MB</small></div>
                </div>
              </label>
              <div class="custom-file">
                <input #ngfileinput type="file" (change)="onFileInput($event)" accept="image/*" class="custom-file-input">
                <label class="custom-file-label" for="customFile">Choose Image</label>
              </div>
              <div class="invalid-feedback" *ngIf="updateForm.controls.image.invalid &&
                (updateForm.controls.image.dirty || updateForm.controls.image.touched || ngupdateform.submitted)"
              >
                <div *ngIf="updateForm.controls.image.errors.required">This field is required.</div>
              </div>
            </div>
            <div class="form-group col-sm-6 text-center" *ngIf="imageSrc">
              <div class="img-item">
                <img [src]="imageSrc" alt="image" class="img-ele img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" class="btn theme-btn mx-auto">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>



