<div class="page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="page-title">Update Profile</h2>
      </div>
    </div>
  </div>
</div>

<div class="row" [ngClass]="{'csspinner load1':showLoader}">
  <div class="col-md-4">
    <div class="edit-pfrl-img-sec text-right">
      <div class="A-profile">
        <img [src]="profile_image_src" alt="" class="rounded-circle" />
        <button type="button" class="btn btn-rounded btn-icon bg-Astral" (click)="fileInput.click()">
          <i class="mdi mdi-camera"></i>
          <input #fileInput type="file" (change)="onChangeProfileImage($event)" style="display:none;" accept="image/*" />
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-8 intro-sec">
    <div class="card">
      <div class="card-body p-3">
        <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmitUpdateProfileForm()" #ngupdateprofileform="ngForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>First Name <span class="symbol required"></span></label>
            <input type="text" class="form-control" placeholder="Enter First Name" formControlName="first_name">
            <div class="invalid-feedback" *ngIf="updateProfileForm.controls.first_name.invalid &&
              (updateProfileForm.controls.first_name.dirty || updateProfileForm.controls.first_name.touched || ngupdateprofileform.submitted)"
            >
              <div *ngIf="updateProfileForm.controls.first_name.errors.required">This field is required.</div>
              <div *ngIf="updateProfileForm.controls.first_name.errors.minlength">Minimum 2 characters required.</div>
              <div *ngIf="updateProfileForm.controls.first_name.errors.maxlength">Maximum 50 characters allowed.</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Last Name <span class="symbol required"></span></label>
            <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="last_name">
            <div class="invalid-feedback"  *ngIf="updateProfileForm.controls.last_name.invalid &&
              (updateProfileForm.controls.last_name.dirty || updateProfileForm.controls.last_name.touched || ngupdateprofileform.submitted)"
            >
              <div *ngIf="updateProfileForm.controls.last_name.errors.required">This field is required.</div>
              <div *ngIf="updateProfileForm.controls.last_name.errors.minlength">Minimum 2 characters required.</div>
              <div *ngIf="updateProfileForm.controls.last_name.errors.maxlength">Maximum 50 characters allowed.</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email <span class="symbol required"></span></label>
            <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
            <div class="invalid-feedback" *ngIf="updateProfileForm.controls.email.invalid &&
              (updateProfileForm.controls.email.dirty || updateProfileForm.controls.email.touched || ngupdateprofileform.submitted)"
            >
              <div *ngIf="updateProfileForm.controls.email.errors.required">This field is required.</div>
              <div *ngIf="updateProfileForm.controls.email.errors.email || updateProfileForm.controls.email.errors.pattern">Valid email is required.</div>
              <div *ngIf="updateProfileForm.controls.email.errors.maxlength">Maximum 100 characters allowed.</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Mobile Number <span class="symbol required"></span></label>
            <input type="text" class="form-control strict_integer" placeholder="Enter Mobile Number" formControlName="mobile_number">
            <div class="invalid-feedback" *ngIf="updateProfileForm.controls.mobile_number.invalid &&
              (updateProfileForm.controls.mobile_number.dirty || updateProfileForm.controls.mobile_number.touched || ngupdateprofileform.submitted)"
            >
              <div *ngIf="updateProfileForm.controls.mobile_number.errors.required">This field is required.</div>
              <div *ngIf="updateProfileForm.controls.mobile_number.errors.minlength">Minimum 10 characters required.</div>
              <div *ngIf="updateProfileForm.controls.mobile_number.errors.maxlength">Maximum 15 characters allowed.</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Gender <span class="symbol required"></span></label>
            <select class="form-control" formControlName="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <div class="invalid-feedback" *ngIf="updateProfileForm.controls.gender.invalid &&
              (updateProfileForm.controls.gender.dirty || updateProfileForm.controls.gender.touched || ngupdateprofileform.submitted)"
            >
              <div *ngIf="updateProfileForm.controls.gender.errors.required">This field is required.</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>DOB <small>(Format: D/M/Y)</small> <span class="symbol required"></span></label>
            <input [matDatepicker]="userDOBDatePicker" (click)="userDOBDatePicker.open()" [max]="maxDobDate" class="form-control" placeholder="Date Of Birth" formControlName="dob">
            <mat-datepicker-toggle [for]="userDOBDatePicker" class="mat-dt-pic" *ngIf="userType != 'Doctor'"></mat-datepicker-toggle>
            <mat-datepicker #userDOBDatePicker></mat-datepicker>
            <div class="invalid-feedback" *ngIf="updateProfileForm.controls.dob.invalid &&
              (updateProfileForm.controls.dob.dirty || updateProfileForm.controls.dob.touched || ngupdateprofileform.submitted)"
            >
              <div *ngIf="updateProfileForm.controls.dob.errors.required">This field is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Introduction</label>
          <textarea class="form-control" rows="4" formControlName="introduction"></textarea>
          <div class="invalid-feedback" *ngIf="updateProfileForm.controls.introduction.invalid &&
            (updateProfileForm.controls.introduction.dirty || updateProfileForm.controls.introduction.touched || ngupdateprofileform.submitted)"
          >
            <div *ngIf="updateProfileForm.controls.introduction.errors.maxlength">Maximum 1000 characters allowed.</div>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-6 my-auto text-left">
            Fields marked with <span class="symbol required"></span> is required
          </div>
          <div class="form-group col-md-6 text-right">
            <button type="submit" [disabled]="showLoader" class="btn theme-btn mx-auto">
              <span [ngClass]="{'spinner-border spinner-border-sm':showLoader}"></span> Update
            </button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
