<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <img class="img-fluid" src="assets/images/logo.png" />
    </div>
    <div class="col-md-6 login-form-2">
      <div class="top-head">
        <h4>FORGET PASSWORD</h4>
      </div>
      <div *ngIf="forgetPasswordFormSuccess" class="alert alert-success">{{messasge}}</div>
      <form *ngIf="!forgetPasswordFormSuccess" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" #myform="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email Address *"
            formControlName="email" [formGroup]="forgetPasswordForm" required
          >
          <div *ngIf="forgetPasswordForm.controls.email.invalid &&
            (forgetPasswordForm.controls.email.dirty ||
            forgetPasswordForm.controls.email.touched || myform.submitted)"
            class="invalid-feedback"
          >
            <div *ngIf="forgetPasswordForm.controls.email.errors.required">
              Email is required.
            </div>
            <div *ngIf="forgetPasswordForm.controls.email.errors.email || forgetPasswordForm.controls.email.errors.pattern">
              Valid email is required.
            </div>
          </div>
        </div>
        <div class="form-group d-flex">
          <a class="btnForgetPwd cp small float-right frget-password text-Astral" routerLink="/login">Login</a>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block theme-btn" [disabled]="showForgetPasswordFormLoader">
            <span [ngClass]="{'spinner-border spinner-border-sm':showForgetPasswordFormLoader}"></span> Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
